[2019-11-01 03:04] 18z opened #2 "Use "summary report" rather than "easy report" instead!"
Places needed to be fixed.

1. README.md
2. main.py

[2019-11-20 02:10] krnick opened #11 "Welcome gwalstat"
gwalstat is a robot for typo checking

[2019-11-20 02:10] krnick commented on #11
Thanks for the report @krnick!                         I will look into it ASAP! (I'm a bot).

[2019-11-20 02:41] 18z commented on #11
Good to see you here, gwalstat!

[2019-11-20 05:59] 18z opened #13 "Do we still need target.ag?"
Hi @krnick
As I mentioned in the subject. Do we still need [target.ag](https://github.com/quark-engine/quark-engine/blob/master/ag_file/target.ag)?
If yes, what's the purpose of keeping this file?

Thanks 😄

[2019-11-20 05:59] krnick commented on #13
Thanks for the report @18z!                         I will look into it ASAP! (I'm a bot).

[2019-11-20 06:06] krnick commented on #13
No, we don't need it anymore, it was only used as an example.

[2019-11-20 06:28] 18z commented on #13
I suggest to remove this file when refactoring. :D

[2019-11-20 06:44] krnick commented on #13
sure

[2019-11-22 07:51] #13 closed

[2019-11-22 07:52] #11 closed

[2019-12-05 04:04] krnick opened #18 "RecursionError when MAX_SEARCH_LAYER = 3"
when I execute command as
[code]
It show error below:

[code]

I will modify the value to 2 first, and then deal with this issue, please keep this issue until it is resolved

[2019-12-05 05:47] sidra-asa commented on #18
Will it solve the problem ?

https://docs.python.org/3/library/sys.html#sys.setrecursionlimit

[2019-12-05 06:12] krnick commented on #18
I think it should be part of the my code is not handled well infinite recursion, because `setrecursionlimit` can only limit the maximum value, and it will still raise error.

I'm not sure the reason of this bug for now, the value of the MAX_SEARCH_LAYER need be changed to 2 first, and I will fix it later since it will lead to error in master now.

[2019-12-05 06:58] sidra-asa commented on #18
How about just adding important notes?
Let users understand to adjust MAX_SEARCH_LAYER if they get the same problem, and this problem will be solved soon.
In that way, we don't have to commit a bugfix for a variable adjustment.

[2019-12-05 07:06] krnick commented on #18
That sounds great!, then I will close the PR #19, and I will set the MAX_SEARCH_LAYER modifiable in the future.

[2019-12-06 03:59] #18 closed

[2019-12-06 04:02] sidra-asa commented on #18
@krnick
Great work to find the root cause of #18 .

[2019-12-17 03:44] #2 closed

[2020-02-16 15:01] krnick opened #43 "Prefer Raising Exceptions to Returning None"
「Functions that return None to indicate special meaning are error prone because None and other values (e.g., zero, the empty string) all evaluate to False in conditional expressions.」

 Brett Slatkin. 「Effective Python: 90 Specific Ways to Write Better Python, 2nd Edition」- Item 20

After reading this book, I found that we also write some code like this. Such problems can be fixed in the future.

[2020-02-19 07:18] krnick opened #44 "Modify our rules to match the YARA format to increase popularity"

[2020-02-19 07:23] 18z commented on #44
I think this is a good move!

[2020-02-19 07:23] 18z commented on #44
@sidra-asa what do you think?

[2020-02-19 07:53] sidra-asa commented on #44
It seems to be more elasticity with YARA format.
@krnick Can you imitate a existed rule with new format?

[2020-02-19 07:57] 18z commented on #44
@krnick
Can you think of any negative side of using YARA format?

[2020-02-19 08:10] krnick commented on #44
sure.

[2020-02-19 08:13] krnick commented on #44
No idea so far, maybe I need to understand YARA rule more detail first.

[2020-02-24 08:38] 18z commented on #44
@krnick

Use only "SMS" and "Location" as the permission strings seem to be very inaccurate?

[code]

[2020-02-24 08:41] krnick commented on #44
@18z This is just an example

[2020-02-24 08:43] 18z commented on #44
Can you give us a real case?
Our discussion will go better if everything is presented precisely.

[2020-02-25 01:48] sidra-asa commented on #44
The more popular format in the malware detection area.
It can be used to detect which packer is.
It can also replace the androguard functionality without disassembling.
It can be used to detect signature in .so file.
It supports hexadecimal strings, which are useful for defining raw bytes; Text strings; Regular expressions.

It is not convincible to me. YARA is a tool capable to search the suspici

[2020-02-25 02:32] krnick commented on #44
@sidra-asa

Now I'm not sure if we can completely abandon androguard and use yara directly to achieve the existing functions. But honestly, even we are applying yara now, but still need to rely on androguard and just use string comparing, basically the same as json.

as this [issue](https://github.com/VirusTotal/yara/issues/1145) talk about the difficulties of applying yara to android.

[2020-02-25 08:25] 18z commented on #44
Right, I have the same thought yesterday!

[2020-03-12 03:52] krnick opened #46 "RecursionError: maximum recursion depth exceeded while calling a Python object"
It seems that the problem of recursive maximum still exists in find_previous_method and upperfunc.

[code]

I will fix it next week.

sample apk:
https://drive.google.com/file/d/1RqRq_EySvArUuo5OtS-rKNNV3q1H84gL/view?usp=sharing

[2020-03-12 04:00] sidra-asa commented on #46
Is this issue identical to #18 ?
The fix is not working?

[2020-03-12 05:51] krnick commented on #46
@sidra-asa  I haven't checked the full error log, I just encountered this problem with a big size apk (99 mb), maybe there are other problems.

[2020-03-12 09:54] sidra-asa commented on #46
I tested with the sample. I found there's a logical loop if the methods call each other in the method_set. Maybe the previous fix to #18 still needs to be enhanced.

[code]

[2020-03-13 01:03] krnick commented on #46
@sidra-asa Thanks for your help in testing, I will try to figure out a solution 😄

[2020-03-20 01:58] #46 closed

[2020-03-20 05:54] krnick opened #50 "Stage Checking Bug"
1. if the first stage check fails, it will continue to next stage.

Right [Here](https://github.com/quark-engine/quark-engine/blob/d2783684fe463c6b6f101cde22fae034b9260a8a/quark/Objects/xrule.py#L231-L232).

[code]

2. The second stage of the inspection should check the first or second function, as long as one of them appears to meet the standard.

Right [here](https://github.com/quark-engine/quar

[2020-03-20 06:04] sidra-asa commented on #50
Add a break in the clause?

[2020-03-20 09:10] #50 closed

[2020-03-24 03:44] krnick opened #53 "Make empty list comparisons more Pythonic and faster."
There are three methods to check whether the list is empty in Python.

1. its Length

[code]

2. Direct Comparison

[code]

3. Type Flexibility

[code]

### Reference:

Empty lists evaluate to False ([Link](https://www.tutorialspoint.com/How-to-check-if-a-list-is-empty-in-Python))

Performance evaluation [test](https://therenegadecoder.com/code/how-to-check-if-a-list-is-empty-in-python/#performanc

[2020-03-24 16:43] #53 closed

[2020-03-25 01:14] 18z commented on #44
Any update?

[2020-05-12 09:25] krnick opened #56 "Multiple results return from find_method"
The `find_method` in [Object/apkinfo.py](https://github.com/quark-engine/quark-engine/blob/33ced423acdfccaf120f92c55a488806dec8d87f/quark/Objects/apkinfo.py#L32) uses a method called `find_methods` in Androguard, which uses regular expressions. After `find_method`, it will lead to one or more results return.

The period asterisk pattern (.*) is one of the most widely matched patterns used by Andro

[2020-05-13 01:09] pulorsok commented on #56
- version: v20.01
- platform: Linux 5.3.0-40-generic #32-18.04.1-Ubuntu
- python version: python 3.7.5

## What steps will reproduce the bug?

Install Quark-Engine follow by the instruction and analysis an apk file with rules that I generated by the Android native API

`quark -a 14d9f1a92dd984d6040cc41ed06e273e.apk -r rule/ -s`

the bug occurs when the engine start to analyze with the rule below:

[2020-06-01 03:13] krnick opened #58 "AttributeError: 'ExternalMethod' object has no attribute 'get_instructions_idx'"
[code]

[2020-06-01 05:23] krnick opened #59 "IndexError: list index out of range"
[code]

[2020-06-03 06:48] krnick opened #60 "ValueError: Weight calculate failed"
[code]

[2020-06-03 07:19] krnick opened #61 "TypeError: '>' not supported between instances of 'NoneType' and 'int'"
[code]

[2020-06-16 04:54] tangsilian opened #63 "Will the rules support string and class names?"

[2020-06-16 07:35] 18z commented on #63
@tangsilian

[code]

Above is a rule we use, as you can see, we already support class names.
As for the string searching feature, I think you'll see it quite soon. :D

Happy Hacking

[2020-06-16 13:44] tangsilian commented on #63
great jood~

[2020-06-16 13:44] #63 closed

[2020-08-27 01:43] krnick commented on #60
fixed in PR #64

[2020-08-27 01:44] #60 closed

[2020-08-27 01:45] krnick commented on #61
fixed in PR #72

[2020-08-27 01:45] #61 closed

[2020-08-27 01:47] krnick commented on #58
fixed in PR #72
commit version: 0f0b18fc3e3e17480ceefadf76c3a6462f4f1889

[2020-08-27 01:47] #58 closed

[2020-09-01 04:39] pulorsok opened #74 "Error occurred while analyzing APK"
## Description
Error occurred while analyzing APK with the rule.
## Rule content
[code]
## Error message
[code]

[2020-09-29 13:55] krnick opened #75 "merge all the objects file into one file"
According to the coding style of viper, viper will merge all the objects into the same file to reduce the number of multiple files.

viper style: [objects.py ](https://github.com/viper-framework/viper/blob/master/viper/common/objects.py)

[2020-10-21 09:54] krnick commented on #56
Closed by PR #76

[2020-10-21 09:54] #56 closed

[2020-10-28 01:15] onemoreflag opened #77 "UnicodeEncodeError: 'gbk' codec can't encode character '\u037d'"
many errors like this：
File "C:\Python37\Lib\logging\__init__.py", line 1028, in emit
    stream.write(msg + self.terminator)
UnicodeEncodeError: 'gbk' codec can't encode character '\u037d' in position 151: illegal multibyte sequence
Call stack:
  File "C:\Users\xxx\.virtualenvs\quark-engine-sCQMnZUF\Scripts\quark-script.py", line 33, in <module>
    sys.exit(load_entry_point('quark-engine', 'cons

[2020-10-28 01:17] onemoreflag opened #78 "Anyway, the score is always 37. Is it not multiplied by weight?"
![image](https://user-images.githubusercontent.com/48425509/97378844-5151b080-18fe-11eb-8e44-34267fe8b996.png)
![image](https://user-images.githubusercontent.com/48425509/97378858-5dd60900-18fe-11eb-9360-9f986116904e.png)

[2020-10-30 02:49] krnick commented on #77
Hello @onemoreflag , thank you for reporting the issue, we will look into this issue soon. Could you kindly provide the APK and the rules you use for testing, thank you so much.

[2020-10-30 02:52] krnick commented on #78
thank you @onemoreflag, the scoring system will only take effect if we have enough detection rules. Before we accumulate enough amount of rules, we set the scores and weights all the same. Therefore, the risk levels and total scores are for reference only. We will make it better soon 😄

[2020-10-30 14:20] teixeira0xfffff opened #81 "call_graph is not work with 0c2494c03f07f891c67bb31390c12c84b0bb5eea132821c0873db7a87f27ccef"
Apk: 0c2494c03f07f891c67bb31390c12c84b0bb5eea132821c0873db7a87f27ccef
Download: https://koodous.com/apks?search=0c2494c03f07f891c67bb31390c12c84b0bb5eea132821c0873db7a87f27ccef
More info: https://blog.talosintelligence.com/2020/10/donot-firestarter.html

[*] Creating Call Graph...
Traceback (most recent call last):
  File "/root/.local/share/virtualenvs/quark-engine-9yAlCX7e/bin/quark", line 11, i

[2020-10-30 14:27] 18z commented on #81
Thank you mate! Our monkey army is on the way fixing this problem!!!! :D

[2020-10-30 14:34] krnick commented on #81
@teixeira0xfffff  thanks for reporting the issue, monkey is on the way :)

[2020-10-31 00:38] onemoreflag commented on #78
When will the new version be released?

[2020-10-31 01:05] onemoreflag opened #82 "When I tested WeChat, the memory usage was very high and took a long time."
quark -a sample/com.tencent.mm_7.0.20_1780.apk -r rules/ --summary
![image](https://user-images.githubusercontent.com/48425509/97767633-42fed100-1b58-11eb-9bd0-6c3a933a91f2.png)

[2020-11-02 12:49] yashomer1994 opened #83 "macOS Dependencies"
Dependencies error during the installation of the quark-engine on macOS Catalina - 10.15.7.

Error  : -
pkg_resources.DistributionNotFound: The 'androguard==3.4.0a1' distribution was not found and is required by quark-engine

<img width="1016" alt="Screenshot 2020-11-02 at 6 18 56 PM" src="https://user-images.githubusercontent.com/18115054/97869748-fbcf3680-1d37-11eb-82e5-9132b3d03782.png">

[2020-11-03 08:50] krnick opened #85 "Add new feature to get url and ips from apk string"
Use the following code can get the url and the ip address:

[code]

[2020-11-03 09:03] krnick commented on #83
Hello @yashomer1994, thank you for reporting the issue, it could be run on macOS Mojave 10.14.6 by me, also in ubuntu latest version, maybe you can try to use Docker or other virtual environments to develop instead of installing it directly in your computer environment.

[2020-11-03 09:09] yashomer1994 commented on #83
Hi ,
Yes it’s working in linux and docker.
But i have tested on MacOS Catalina 10.15.7
I have also shared the screenshot of error in Issue section

Sent from my iPhone

[2020-11-03 09:12] krnick commented on #83
Hello @yashomer1994 , I saw your python version is 2.7, but quark-engine required the python version is >= 3.7.

[2020-11-03 09:22] yashomer1994 commented on #83
Hi ,
I also have python 3.9 i will check again and let you know

Thanks.

[2020-11-03 10:16] yashomer1994 commented on #83
Python 3.9 not supported.
Installation successful over python3 o macOS 10.15.7.
Running quark-engine using python3 broke the engine due to dependency issues .
Please find the attached screenshot.

<img width="1039" alt="Screenshot 2020-11-03 at 3 28 44 PM" src="https://user-images.githubusercontent.com/18115054/97973131-a05e8080-1deb-11eb-97af-fa5633d86f45.png">
``

[2020-11-04 09:41] sidra-asa commented on #83
@yashomer1994  I tested in python 3.9.0 environments in Mac OS.
It looks that both using pip package installer and following the installation instruction in README are all fine.

[code]

<img width="1273" alt="Screen Shot 2020-11-04 at 17 24 35" src="https://user-images.githubusercontent.com/7848936/98094660-8a70be80-1ec4-11eb-941d-4973b6d6a3a2.png">

Can you provide more information about how you

[2020-11-04 11:17] yashomer1994 commented on #83
Hi , I have followed the README and tested out , But after using command pip install quark-engine and then follow other instructions , I am getting error please find the attached screen shot.
I am using zsh shell.

<img width="1026" alt="Screenshot 2020-11-04 at 4 43 48 PM" src="https://user-images.githubusercontent.com/18115054/98104772-edf6ee00-1ebc-11eb-9b44-33e9d5433a59.png">

[2020-11-05 01:48] 18z commented on #83
@yashomer1994

Can you help us to make sure that this dependency error occurs not just in your environment?
We need to first be sure that this error is reproducible in the other peoples' computer which have the same environment like yours.

So I think the first step we can do is to know your environment setups.
For example:

OS: macOS Catalina version 10.15.7
Python Version: 3.9
Python Package Man

[2020-11-05 03:30] sidra-asa commented on #83
@yashomer1994

Please try the following instruction:

[code]

You may see some warning about using 3.9.0, but it's fine.
Be sure all the dependencies are installed like following screenshot:

<img width="446" alt="Screen Shot 2020-11-05 at 11 22 52" src="https://user-images.githubusercontent.com/7848936/98194075-893da100-1f59-11eb-99c2-f72af6ddcba7.png">

If any problem, please let us know.  :P

[2020-11-05 05:00] yashomer1994 commented on #83
Please find the below screenshot I have already tested these work arounds .
macOS 10.15.7
python- 3.9
<img width="1440" alt="Screenshot 2020-11-05 at 10 28 21 AM" src="https://user-images.githubusercontent.com/18115054/98199697-ce5dd500-1f51-11eb-9dec-278d0001ca06.png">

[2020-11-05 05:07] yashomer1994 commented on #83
- Yes the same I am using with  pipenv, version 2020.8.13 , which also tried to update but this is latest one.
- To help People, we can make requirements.txt file in which these dependencies can be installed before installing engine to avoid dependencies issues. That's why I have created PR for the same.

[2020-11-05 06:03] sidra-asa commented on #83
@yashomer1994

According to your screenshot, I guess you have installed engine via pip.
There may be some package import issue.
To make it clear, please uninstall engine via pip, then try it in pipenv shell.

[code]

Please let us know if it works or not.

[2020-11-05 06:15] yashomer1994 commented on #83
I have tried different ways, normal as per instructions given, then told me install using pip then I have tried that one, that the instructions given by you, and several others.

But I will show once again.

<img width="1031" alt="Screenshot 2020-11-05 at 11 44 58 AM" src="https://user-images.githubusercontent.com/18115054/98204602-5ba62700-1f5c-11eb-89ab-b77fa42a7eb1.png">

[2020-11-05 06:54] sidra-asa commented on #83
@yashomer1994

Sorry for the annoying instructions so far. I just want to figure out the root cause.
Please try it one more for us with following instruction:

[code]

If it works, it may be the issue with pipenv and zsh.
It seems some solutions are available:
https://github.com/pypa/pipenv/issues/1058

If any problem, please let us know.

[2020-11-05 07:49] yashomer1994 commented on #83
May be the issue is zsh and pipenv because the same was running on Linux and docker without any issues.

[2020-11-05 09:35] cyberharsh commented on #78
this means so far it is not able to do an analysis of a malware due to lack of rules?

[2020-11-05 12:52] 18z commented on #78
@cyberharsh

You are right! Rules will never be enough just like snort.
We will be releasing sets of rules periodically with malware analysis report.

Stay tuned ! 😄

[2020-11-06 03:34] 18z commented on #78
@cyberharsh

We have an algorithm to generate detection rules. And would probably release this to the world. 😸
https://www.youtube.com/watch?v=CAa6X3pmudk

[2020-11-15 09:48] pokorny-martin opened #86 "Saving report to json"
quark -a to_test\com.fastemulator.gba.apk -r quark\rules --detail -o to_test\quark_gameboy.json

Traceback (most recent call last):
  File "C:\Users\Martin\.virtualenvs\quark-engine-xwtWkN4W\Scripts\quark-script.py", line 33, in <module>
    sys.exit(load_entry_point('quark-engine', 'console_scripts', 'quark')())
  File "C:\Users\Martin\.virtualenvs\quark-engine-xwtWkN4W\lib\site-packages\click\co

[2020-11-16 06:55] 18z commented on #86
Thanks for reporting this issue. We'll take a look.

[2020-11-17 06:24] sidra-asa commented on #86
@pokorny-martin
We've done a fix. Would you try with the newer commit and tell us  if any error ?

[2020-11-19 01:40] onemoreflag opened #91 "one dangerous method scenario"
Sometimes, if a dangerous method is invoked in the APK, it is considered that malicious behavior may exist. But now the detection rules must be based on two dangerous methods。
such as:

{
    "crime": "Load Jar via dexClassLoader.loadClass",
    "x1_permission": [
        "android.permission.READ_EXTERNAL_STORAGE",
        "android.permission.WRITE_EXTERNAL_STORAGE"
    ],
    "x2n3n4_comb": [

[2020-11-19 01:51] onemoreflag opened #92 "Is it possible to scan multiple samples? For example, scan all apks in a directory"
Is it possible to scan multiple samples? For example, scan all apks in a directory

[2020-11-19 10:20] krnick commented on #91
Hello @onemoreflag , thanks for providing the idea about the rules. This behavior is a common way to load external DEX/APK file to bypass anti-virus. We did take those rules into consideration and do more research for more possible rule now.

For example,

1.
Ljava/lang/ClassLoader.method.getSystemClassLoader
Ljava/lang/ClassLoader.method.loadClass

2.

Ljava/lang/Class;getClassLoader
Ljava/lang/C

[2020-11-19 10:24] krnick commented on #92
I think this may be a good feature when you need to analyze a large number of APKs in the future. Would you like to work on this pull request 😄 ?

[2020-11-19 10:30] krnick commented on #82
When analyzing large files, the increase in memory usage is inevitable, perhaps because of the librart usage of androguard. Anyway, we are also looking for effective solutions to make Quark-Engine better and better :)

[2020-11-19 11:36] wxc-gp opened #93 "能否支援方法入參的精準判斷"
我發現很多規則中，涉及到其他應用的數據操作都會使用到ContentResolver類中的方法，但是程式真正的動作取決於方法的入參uri,如果不精確到uri識別的話，多個規則在一起會有不少誤報吧。
eg：讀取通訊錄
{
    "crime": "Send contact via SMS",
    "x1_permission": [
        "android.permission.SEND_SMS",
        "android.permission.READ_CONTACTS"
    ],
    "x2n3n4_comb": [
        {
            "class": "Landroid/content/ContentResolver",
            "method": "query"
        },
        {

[2020-11-20 07:46] krnick opened #94 "Using getattr method make bytecode loader more elegant"
[Byterun](https://github.com/nedbat/byterun) is a Python interpreter implemented in Python. In its [implementation](https://github.com/nedbat/byterun/blob/31e6c4a8212c35b5157919abff43a7daa0f377c6/byterun/pyvm2.py#L216-L236), the built-in function of `getattr` is used to call the corresponding bytecode instruction, which is Python's dynamic method lookup instead of using the big [switch statement](

[2020-11-20 14:10] 18z commented on #78
@cyberharsh

There you go! We just release our tool for rule generation!
Please help us to test it out!
https://github.com/quark-engine/quark-rule-generate

[2020-11-23 08:16] cyberharsh commented on #78
Hey thanks for the update i will definitely have a look at it.

[2020-12-02 17:45] #86 closed

[2020-12-02 17:46] pokorny-martin commented on #86
Works like a charm, thank you.

[2020-12-03 09:38] krnick commented on #93
Hello @wxc-gp , thanks for reporting this issue. Yes, the ContentResolver behaviors depend on the parameter they put in. So far, the relationship between the two APIs can be confirmed. However, the parameter cannot be achieved now.

Recently, we have updated our rules [here](https://github.com/quark-engine/quark-rules). With quark-engine, we can quickly find out the high-risk behavior. The point i

[2020-12-10 06:46] seuercc opened #97 "支持你们老铁，希望提供更多丰富的功能。"
支持你们老铁，希望提供更多丰富的功能。

[2020-12-10 07:08] 18z commented on #97
那你還不趕快來按星星XDDDD

[2020-12-10 07:14] krnick commented on #97
謝了兄弟

[2020-12-10 07:37] sidra-asa commented on #97
記得三連
萌萌噠

[2020-12-10 07:39] 18z commented on #97
哎呦我看到你有按星星了啊老鐵～！
三觀挺正的啊！
萌萌噠

[2020-12-10 12:53] krnick commented on #97
@seuercc 跟你開玩笑的 :)
謝謝你的支持，我們會持續推出更好的功能
若你有任何想法也歡迎告訴我們，一起交流！

[2020-12-10 13:05] 18z commented on #97
@seuercc 兄弟，感謝你的支持與愛護。隨時歡迎你來開 issue 跟我們聊天！：-）

[2020-12-10 19:18] #97 closed

[2021-01-21 03:03] Surendrajat opened #105 "Optional `-r` flag"
**Describe the bug**
If I don't pass `-r` flag to `quark`, it still pulls the rules in `quark-rules` dir but then fails saying `Error: Missing option '-r' / '--rule'.` I think in this case the flag is not mandatory as the `quark-rules` dir exists a fallback.

**To Reproduce**
Steps to reproduce the behavior:

1. Run `quark -a test.apk -s`
2. It fails but check that it still downloaded the rules in

[2021-01-21 07:14] krnick commented on #105
Thank you @Surendrajat  for providing this idea.

The reason why the -r option is mandatory is that we did not set "quark-rules" as the default rule directory before. Therefore, users have to specify the rules directory themselves.

After discussing with our team, we think it would be great and easy to use if we set the -r optional and the quark-rules would be the default rules directory.

[2021-01-21 07:18] 18z commented on #105
Right, make flag '-r' optional is a better design, thanks @Surendrajat

[2021-01-21 07:57] Surendrajat commented on #105
@krnick thanks for the explanation. I get it now why this was made mandatory.
@18z glad that you agree.

[2021-01-21 08:09] krnick commented on #105
Fix in #107

[2021-01-21 08:09] #105 closed

[2021-01-21 08:18] Surendrajat commented on #105
@krnick the examples in README can be updated too, I guess. Maybe add an extra example at the end about custom rules?

[2021-01-21 09:48] krnick commented on #105
@Surendrajat sure thing 😄 , I will add more details and example about the rules.

And show how we actually use it in the APKLab vscode environment, and how APKLab can really boost up the Android malware analysis. I guess I will make a video for that.

[2021-01-21 13:55] Surendrajat commented on #105
@krnick That will be cool.

[2021-01-26 09:16] amsharma44 opened #111 "Quark analysis failing"
Environment:
Windows 10 20H2
Python 3.7.7
Quark 21.01.5

Apk used:
https://apkpure.com/instagram/com.instagram.android/download?from=details

Console output:
[code]

Quark logs:
https://anonfiles.com/j2J9NaC6p4/2021-01-26.quark_log

[2021-01-28 02:55] krnick opened #114 "Modify the update mechanism of quark-rules"
Whenever quark is executed, the early mechanism for updating quark-rules will execute the `git clone quark-rules`. If the directory already exists, the user will be asked whether to download it again. However, this will cause inconvenience in integration.

In a better way, it can be updated when quark is executed every time without asking, and if users want to update again, they can use `freshquar

[2021-01-28 07:37] #114 closed

[2021-01-30 06:35] Surendrajat commented on #111
Potential cause: https://stackoverflow.com/a/42495690

[2021-02-09 05:51] lordlabuckdas commented on #92
Hello @krnick, if this issue is up for grabs, I'd like to work on it 😃.

[2021-02-09 10:37] krnick commented on #92
Hi @lordlabuckdas Yeah, this issue has not been resolved. That would be great if you would like to work on it. Please let me know if you have any questions.

Thank you for your kind help 😄

[2021-02-09 11:58] Surendrajat commented on #92
@lordlabuckdas I'd like to discuss the CLI interface for this one.
For example: if you make `-a` accept a **dir** or `*.apk` then how will it work with `-o` JSON output? Will it consolidate all reports in one file or separate? If one then what will be structure and if separate what is the naming scheme?
This is because many tools such as https://github.com/APKLab/APKLab depend on current CLI inter

[2021-02-09 12:24] krnick commented on #92
Indeed, I prefer not to modifying the current CLI interface and its original options since many tools already using the quark CLI interface.

In fact, if you need to scan multiple APKs, I think writing a shell script is actually sufficient. Or it can be done through [python binding API](https://quark-engine.readthedocs.io/en/latest/integration.html#second-step-code-snippet-as-you-go).

Maybe writi

[2021-02-09 12:36] cryptax opened #117 "Unable to get function involved in a 60% confident rule"
For rules less than 100% confident, I would like to view **which portion of code is concerned**.
This _works very well with rules detected at 100%_ and option `-c`. I get the functions of the malware concerned by this or that crime. Example:

![quark-c1](https://user-images.githubusercontent.com/2493690/107363948-20773f00-6adb-11eb-894c-305bc80e254a.png)

But **I am unable to get the same result w

[2021-02-09 12:43] cryptax opened #118 "Quark engine does not report the same risk based on threshold"
I am using [this malicious sample again](https://koodous.com/apks/a03ffa955d9b273cc22acae93dbad2ec8c023d7621b256ea93506587506e3eb3).

I run : `quark -a a03ffa955d9b273cc22acae93dbad2ec8c023d7621b256ea93506587506e3eb3.apk -r ./quark-rules -s` and get a **Moderate Risk**.

![quark-moderate-risk](https://user-images.githubusercontent.com/2493690/107364767-2d486280-6adc-11eb-8109-e1187178f45f.png)

No

[2021-02-09 16:56] lordlabuckdas commented on #92
Agreed, adding sample code for scanning directories in the docs seems to be the best approach. @Surendrajat @krnick

Will adding an example of the relevant bash and python code [here](https://quark-engine.readthedocs.io/en/latest/integration.html#second-step-code-snippet-as-you-go) and putting up a note (that provides the link to the page with example code to the users if they wish to scan directo

[2021-02-09 17:24] cryptax opened #119 "Quark rules classification outputs twice the same rule in some cases"
How to reproduce:

- Get this [malicious sample](https://koodous.com/apks/a03ffa955d9b273cc22acae93dbad2ec8c023d7621b256ea93506587506e3eb3)
- Get Quark v21.02.1
- `quark -a sample.apk -r ./quark-rules -s -c`

You see below crimes for `Lgoogle/com/sjhi/client/zjService;e ` are duplicated.

![quark-stutters](https://user-images.githubusercontent.com/2493690/107402188-fdad5080-6b03-11eb-843d-f8deb28e

[2021-02-09 17:35] cryptax opened #120 "False Positive with rule 107 for my sample"
To reproduce:

- Get this malicious sample: https://koodous.com/apks/a03ffa955d9b273cc22acae93dbad2ec8c023d7621b256ea93506587506e3eb3
- Use Quark v21.02.1
- Run: `quark -a sample.apk -r ./quark-rules -s` and search for rule "Write the IMSI number into a file". You will see it is reported at **80% of confidence.**

With option `-d`, you get the following details:

[code]

However, if you inspect th

[2021-02-10 12:13] krnick commented on #92
Yeah, that would be great!
Thank you @lordlabuckdas !

[2021-02-10 12:29] krnick commented on #118
It seems that if a threshold is added when calculating the score, other rules that are not met will be ignored. Thank you @cryptax for reporting this issue.

[2021-02-10 12:58] krnick commented on #117
Hello @cryptax ,

Yes, the call graph function will only work successfully when the rule confidence is 100%. Our strategy is to provide call graphs only if we get 100% confidence. The definition of five stages are:

1. Android permission (If no permission is added to the rule, it will be ignored by default with a confidence of 20% to avoid certain APIs that do not require permission)
2. Whether an

[2021-02-10 13:03] krnick commented on #120
I think the result should be correct as you said( the IMSI is never written to a file).

We will conduct tainted analysis on the two APIs. Therefore, its confidence level is 80%, which means, the two APIs are executed in order, but they are actually not related.

[2021-02-10 13:50] 18z commented on #118
@cryptax thanks for reporting this issue. 😄

Actually, despite that we have designed the so called "malware scoring system".

The scoring system takes effect only when we have enough amounts of detection rules.
And the problem here is, we are still thinking about what amount of rules should be enough.

Now let's skip the problem above and assume that we have enough rules.
Then we have issues conce

[2021-02-10 13:51] 18z commented on #119
@cryptax  We will take a look! Thanks for reporting! 😄

[2021-02-10 14:02] 18z commented on #120
Hi @cryptax

Actually, this is not a bug nor a limitation of Quark. 😄

Each rule is consisted of two native android APIs.
What Quark does is to find whether if those two APIs match certain behaviors we defined.

For example,

1. The engine will first check if permissions needed for calling those APIs are used.
2. Quark checks if the key native APIs are called. (check if one of the two APIs is call

[2021-02-11 08:58] cryptax commented on #117
@krnick thanks for clarifying how the percentages get set, very helpful. Indeed, in that case, I believe the sample does get the originating address at one point, and in another place, sends SMS, but both are not linked (we are not sending an SMS to the originating address or something like that). So, the 60% are explained.

Generating a graph wouldn't mean anything either, because actually we'd g

[2021-02-11 08:59] cryptax commented on #117
@krnick sidenote: can you explain somewhere how you do this/ what is this: "Tainted analysis for two APIs (100%)" ?

[2021-02-11 09:07] cryptax commented on #120
@18z thanks indeed, I hadn't understood how you assigned the percentages, but you clarified it in #117

I find it slightly misleading because we don't have "80% of chances of writing IMSI to a file" (which is how I understood it first). We **_know_** this does not happen. It is rather "80% of the rule occurs". And should be read as we know "we get IMSI, then we write a file, but not the IMSI into

[2021-02-11 09:07] #120 closed

[2021-02-13 02:41] #92 closed

[2021-02-14 04:20] krnick commented on #117
Hi @cryptax, Sorry for not explaining it more clearly, let’s take a real example:

In this test case [rule](https://github.com/quark-engine/quark-engine/edit/master/quark/rules/sendLocation_SMS.json):

[code]

"Tainted analysis of the two APIs" means that we will check whether the first API, getCellLocation will eventually be used in the second API, sendTextMessage. No matter how much the data has

[2021-02-14 15:48] techathena commented on #85
do you want a cli argument to get the ips and url or is it supposed to be shown for every apk file entered?

[2021-02-15 03:51] krnick commented on #85
Hi @techathena, welcome to quark 😄

We have not yet determined how these features should be presented. It is still under development. If you are interested, you can join us and improve this part!

For now, I am putting these additional functions into the [forensic](https://github.com/quark-engine/quark-engine/blob/master/quark/forensic/forensic.py) module. Its regular expressions can be found [her

[2021-02-15 04:00] techathena commented on #85
Awesome !
Would really like to work with you guys to improve it.
Also thanks for pointing me to the module :)

[2021-02-15 14:52] techathena commented on #85
Hey!
I class forensic was being called by forensic function. But I could not find where it was being called(if it is being called).
Can you guys point me to its call if it is?

[2021-02-15 15:28] 18z commented on #85
@techathena

Yes, you're right. The forensic function does called by nowhere. :D
We create this class just to boost up our personal forensic jobs.

Am I right, @krnick ?

[2021-02-15 16:10] krnick commented on #85
Yes, the forensic module is only used for the import of the Python API, and it will not be called in the source code now.

If you are interested, you can check out Django's implementation of this [part](https://github.com/django/django/blob/master/django/core/validators.py), which may be useful.

[2021-02-15 16:16] cryptax commented on #117
@krnick ok -- indeed the tainted analysis is _exactly_ what we need in most cases... wonderful!

[2021-02-15 16:17] techathena commented on #85
gotcha!
Also , regarding the regex for ip address, I felt that we could reduce the number of false positive by using [0-5] instead of /d (cause then 999.999.999.999 wont match)
Heres the regex       (?:[0-5]{1,3}\.)+(?:[0-5]{1,3})
Should I send it in a pull request?

[2021-02-15 16:27] krnick commented on #85
@techathena you are right, it seems that this example code not work very well, but I have fixed that [here](https://github.com/quark-engine/quark-engine/blob/8016dc1dccd8c0d8d826d366df54dcbf87f760d5/quark/utils/regex.py#L9) already

[2021-02-15 16:33] techathena commented on #85
Actually I was referring to a different change . Can you look here please?
 https://github.com/quark-engine/quark-engine/pull/124#issue-573675373

[2021-02-15 18:06] lordlabuckdas commented on #43
Is this perhaps an outdated issue? or can you please pinpoint me to some places where the exception must be raised?

In my opinion, raising exceptions will cause the program to stop abruptly which in most cases is undesirable. So, I feel increasing the logging verbosity will be more helpful.

For example, in cases where we have

[code]

we can have something like

[code]

This would also help us w

[2021-02-17 05:45] krnick commented on #43
Hello, @lordlabuckdas  thank you for noting this issue!

Yes, it is better to use the log than to raise an exception to prevent the program from crushing. This issue seems to be out of date. If you see in the source code where you think you can add the log feature, please feel free to improve it.

[2021-02-17 05:45] #43 closed

[2021-02-17 05:58] krnick opened #127 "Make Quark's rules support API parameter"
For now, Quark can only support API and permission detection, but some key points rely on the usage of the parameters. For example, `contentResolver.query` can get the SMS content as well as the contact information, it will get the corresponding information based on the given parameters.

That would be great to add an additional feature to enable Quark to determine which parameters the API uses.

[2021-02-17 06:00] krnick commented on #93
Hi @wxc-gp , I reopen an issue #127 for this issue in English, please feel free to pick it up if you are interested, thank you 😄

[2021-02-17 06:00] #93 closed

[2021-02-17 06:05] krnick opened #128 "Make Quark's rules easier to write"
Currently, the quark rules are based on the json format, and tags seem a bit difficult to understand and write your own rules.
[code]

We can change the rule tags to a better way of writing:

x1_permission -> permission
x2n3n4_comb -> api
yscore -> score

[2021-02-17 06:10] krnick opened #129 "Make Quark read JSON rules faster"
Currently, quark reads all JSON rules in the directory one by one, but the number of rules gradually increases, which will cause a large increase in file IO and reduce speed. We can compress all rules into a single file or other forms of files to quickly read the rules.

[2021-02-17 06:17] 18z opened #130 "Calling for Performance Assessment"
Quark has performance issues when analyzing apk sized over 100 mb.
To solve this problem, developing a performance assessment strategy is needed.

[2021-02-17 06:23] krnick opened #131 "Improve Quark's tainted analysis accuracy in stage 5"
Currently, Quark uses our own Dalvik bytecode loader. Basically, it simulates the operation of the Real Android Dalvik virtual machine, but we only record the usage status of each register. So far, not all the instructions for Dalvik have been completely written. As a result, false positives often occur in the analysis.

The implementation of the Dalvik bytecode loader could be find [here](https:/

[2021-02-17 06:25] 18z opened #132 "Documentation update"
Quark has huge progress over the past year.
However, the documentation does not catch up with the developments.
e.g. [quark-rule-generate](https://github.com/quark-engine/quark-rule-generate), [quark reports](https://github.com/quark-engine/quark-reports)

And our cooperation with other open source partners.
e.g. APKLab, IntelOwl, Pithus/Bazaard, BlackArch Linux

[2021-02-17 06:33] krnick opened #133 "Duplicate rules detection in quark-rules"
Added automatic duplicate rules detection in PR, so that [Quark rules](https://github.com/quark-engine/quark-rules) repo can detect whether there are duplicate rules when PR is sent. It could be the Github Action or Travis ci integration.

[2021-02-17 06:34] #91 closed

[2021-02-17 07:29] pulorsok opened #134 "Add JSON option for Call Graph"
Add an option to output call graph data such as mutual parent function and wrapped function ( class name, method name and descriptor, etc ) and API call (Where the native API called in wrapped function) to JSON file.

[2021-02-17 08:46] pulorsok opened #135 "Add upper functions of mutual parent function in Call Graph"
## Description

Add upper functions which executed the mutual parent function that have potential malware activity.
I think it will improve the efficiency of tracing malware behaviour in source code.

### For example:

 - Crime: Send location via SMS
 - Mutual parent function: `sendLocation`

And two functions `onCreate` and `getUserLocation` has call `sendLocation`.

![](https://i.imgur.com/o9dKq

[2021-02-18 01:50] haeter525 opened #136 "Deleting rules crashes Quark in Windows 10"
**Describe the bug**
When I use Quark for the first time in a day, an access denied message pops up and crashes it.

**To Reproduce**
Steps to reproduce the behavior:
1. Make sure today is not the date stored at `~/.quark-engine/.up_to_date.quark`
2. Open a terminal
3. Run `quark` with/without arguments. e.g. `quark --help`
4. See error

**Expected behavior**
Suppress the error or prompt it to the

[2021-02-18 05:49] 18z commented on #135
Hi @pulorsok

I have another idea.
Since we will have lots of call graphs per analysis. I am wondering if those graphs can be linked when they have the same "upper" function. Then we can have a more comprehensive view of behaviors detected!

What do you think?

[2021-02-18 06:00] 18z commented on #120
Hi @cryptax,

Yes, you're right.  This caused misleading. I'll rephrase it like "Get IMSI first, then write it to a file".
Thanks 😄

[2021-02-18 13:39] krnick commented on #119
Resolved it with PR #137
Fixed by @haeter525 , nice work 👍

[2021-02-18 13:39] #119 closed

[2021-02-19 11:21] cryptax opened #138 "Rule does not match when no spaces between arguments in the Java signature of the descriptor"
I have written a _custom Quark rule_, and was _expecting to have 100% confidence_ for this rule. **I only get 40%**.

_Update: see next comment for important info._

My malicious sample does this:

[code]

I want to write a rule that catches this combination

1. `InetAddress.getByName`
2. `com.esotericsoftware.kryonet.Client.connect`

This is what I wrote in `00154.json`:

[code]

To my understand

[2021-02-19 12:19] cryptax commented on #138
A colleague of mine found the issue.
It seems that if you put spaces between the arguments inside the Java signature, then it works.
Replace `(ILjava/net/InetAddress;I)V` with `(I Ljava/net/InetAddress; I)V` and then you get 100%.

![screenshot](https://user-images.githubusercontent.com/2493690/108503491-c170b180-72b4-11eb-8908-d274c0eb6ad5.png)

[code]

I believe this is a bug because[ Java signa

[2021-02-20 10:00] #118 closed

[2021-02-22 03:55] krnick commented on #138
Hello @cryptax ,

Thank you for reporting this problem. Indeed, the blanks are currently needed since our current implementation is to search for these APIs using androguard with [find_methods](https://androguard.readthedocs.io/en/latest/api/androguard.core.analysis.html?highlight=find_methods#androguard.core.analysis.analysis.Analysis.find_methods) function.

If the function format does not match

[2021-02-22 04:03] krnick commented on #136
Hi @haeter525 , thanks for reporting this problem.
It seems that this is caused by deleting git-related files in Windows.

Reference:
https://stackoverflow.com/questions/39566812/python-script-not-deleting-git-files-in-windows

[2021-02-22 14:09] cryptax commented on #138
@krnick thanks -- but why did it work for `InetAddress.getByName()` ? Whenever possible, I'd recommend accepting no spaces, as this is the real syntax of Java signatures, others will do the same error as me...

Yes, your `get_api_format.py` format could be useful. It would save me from searching on the online Android SDK doc :-)

[2021-02-22 17:10] pulorsok commented on #135
Hi @18z, It is a good idea. I can make a feature that generates an overview map for potential malware activities when the call graph command executed.

[2021-03-09 11:57] krnick commented on #138
Hello @cryptax ,

Currently, in the latest version v21.3.2, I redesigned Quark's rules to be simpler and easier to write.

I change the rule's key as below:

x1_permission -> permission
x2n3n4_comb -> api
yscore -> score

The latest example is as below:
[code]
Also, I added the `-i` option to the new version of the Quark command-line option, which can quickly get all the Android APIs used in an AP

[2021-03-09 17:15] cryptax commented on #138
@krnick oh thanks! That's very nice! I'm going to update :) The names are far better IMHO, well done! And the option `-i` is going to be useful.

[2021-03-10 02:20] ybdesire opened #144 "What is the max value of Total Score?"
What is the max value of `Total Score` from `Summary Report`?
And any more detailed documents about the `Confidence`, `Score` and `Weight` calculation  & rules?

[2021-03-10 02:48] ybdesire opened #145 "KeyError: 'x1_permission'"
**reproduce the bug**
1. download rules from https://github.com/quark-engine/quark-rules
2. run the python code from https://quark-engine.readthedocs.io/en/latest/integration.html, get error message as below

[code]

**potential root cause**

the key at rule.json has been upgraded from `x1_permission` to `permission`， but the code at python code of imported `quark` still keeps as  `x1_permission`.

[2021-03-10 02:56] ybdesire commented on #145
this issue is related with the code change inconsistent with https://github.com/quark-engine/quark-engine/issues/128

[2021-03-10 03:10] krnick commented on #145
Hi @ybdesire ,

Thank you for reporting this issue 😄

This problem caused by our latest changes to Quark's rules. If you update the version of Quark to **v21.3.2** via `pip install -U quark-engine`, it should solve this problem.

[2021-03-10 03:13] #145 closed

[2021-03-10 06:45] ybdesire commented on #144
@krnick Great. Thanks for the detailed info.

[2021-03-10 06:45] #144 closed

[2021-03-13 04:47] #136 closed

[2021-03-14 18:31] Priyanshujha11 commented on #132
assign this to me and can you tell me what i need to do

[2021-03-14 18:32] Priyanshujha11 commented on #133
can you assign this to me

[2021-03-16 12:25] cryptax opened #147 "Quark Engine does not list all APIs of my sample"
I am using a malicious sample of SandroRAT, sha256: `f82d6f24af2a4444c696c64060582d8aed6280da578c4dea3bb71bd6a11ebcf8`. You can [download it from Koodous if you want](https://koodous.com/apks?search=f82d6f24af2a4444c696c64060582d8aed6280da578c4dea3bb71bd6a11ebcf8).

This sample uses `com.esotericsoftware.kryonet.Client`, in particular the `connect()` method from that class.
But `quark -i` does not

[2021-03-17 02:54] krnick commented on #147
Hi @cryptax ,

Thank you for reporting this issue, the current `-i` option only shows the usage of the Android native API. It is my mistake that not clearly pointed out in the help message. If you think it is useful not only to show Android native APIs but also to show the names of custom classes and methods, I can add it to other options.

Currently, our rules only take two Android native APIs fo

[2021-03-19 02:45] krnick commented on #133
Hello @Priyanshujha11,

Please feel free to send us the PR if you would like to work on this issue, and let me know if you have any questions.

thank you 😄

[2021-03-19 14:49] cryptax commented on #147
Yes that's what I did, and it works fine.

As it works, maybe indeed adding also custom rules to the list of `-i` would be nice.

[2021-03-22 08:25] richardPang517 commented on #82
the analysis process of androguard will cost large consumption of memory, especially generating XREF objects（call graph). Perhaps woking on dex file one by one using androguard function would be better.

[2021-03-22 09:19] 18z commented on #132
Hey, @Priyanshujha11 @codewithvicky

No worries, writing documents is a never ending job.
You guys can start writing. And just send a PR to our repo. 😸

[2021-03-22 09:25] 18z commented on #132
@Priyanshujha11 @codewithvicky I just assigned this issue to both of you guys.

[2021-03-22 11:57] codewithvicky commented on #132
Can you Explain What thing we have to write in documents what topic to be written in the  documents

[2021-03-23 03:08] krnick commented on #82
Thank you @richardPang517 for providing this idea, I will try to use this method to test whether it can reduce memory usage.

[2021-03-23 03:12] krnick commented on #147
No problems, I am working on it 😄

[2021-03-27 18:42] codewithvicky commented on #127
Can you Explain in Detail so i can work on this issue sir please

[2021-03-29 16:48] mlodic opened #152 "error while updating IntelOwl"
Hi guys, I was trying to update IntelOwl to the latest version (21.3.3) of Quark and rules.

However, I have found this

[code]

Previously, I had the version 21.1.2. I looked for that string in the project and I found out this change: https://github.com/quark-engine/quark-engine/blame/master/quark/config.py that was released some patches after that version.

Could you please help me to understand

[2021-03-29 18:14] yashomer1994 opened #153 "Graph"
**Calling Graph**
Analysing the apk with graph quark-engine crashed.

**To Reproduce**
Steps to reproduce the behavior:
1. quark -a sample_apk -s -g
2. After Creating Call graph
3. python 3.9 traceback error
4. See error

**Expected behavior**
should produce graph
**Screenshots**

<img width="1430" alt="Screenshot 2021-03-29 at 11 42 52 PM" src="https://user-images.githubusercontent.com/18115054/1

[2021-03-30 02:55] krnick commented on #152
Hello @mlodic,

Thank you for reporting this issue. Could you kindly provide us with the operating system you are using?

This problem occurs when we want to update the [latest rules](https://github.com/quark-engine/quark-rules) from the GitHub repository after running quark. It will delete the existing GitHub directory under the home directory, which might cause the `permission denied`.

I'm tryi

[2021-03-30 03:11] krnick commented on #153
Hello @yashomer1994 ,

The error showed up is that the `graphviz` is not currently installed on your computer. You can install it through the following command.

[code]

[2021-03-30 04:03] yashomer1994 commented on #153
hI @krnick  After Installing the graphviz , getting same the issue

[2021-03-30 07:40] mlodic commented on #152
The error appears on the container generated by this [image](https://github.com/intelowlproject/IntelOwl/blob/master/docker/Dockerfile) (Debian Buster should be). This container contains the quark-rules extracted in this way with a [script launched](https://github.com/intelowlproject/IntelOwl/blob/8657623280c577569d1b722feabd2030dd77b61a/api_app/script_analyzers/yara_repo_downloader.sh#L63.) at bu

[2021-03-30 09:01] krnick commented on #152
Hi @mlodic,

I have updated the latest version to "v21.3.4", where I removed the usage of the home directory while logging.

Could you please help us test again to see whether this problem will show up again, thank you 😄 !

[2021-03-30 09:10] krnick commented on #147
Hello @cryptax ,

I have updated the latest version to "v21.3.4", where I put the usage of listing Android API and custom methods in the option `-i`.

Now quark can list the usage below:

## Method

1. Android native API `quark -a malware.apk -i native`
2. Android custom methods `quark -a malware.apk -i custom`
3. all `quark -a malware.apk -i all`

## Permission

`quark -a malware.apk -p`

Thank y

[2021-03-30 10:11] mlodic commented on #152
It works! Thank you!

[2021-03-30 10:11] #152 closed

[2021-03-31 06:11] krnick commented on #81
Hello @teixeira0xfffff ,

I'm sorry for getting back to you late.

We have solved this issue of generating the call graph, and the latest version is "v21.3.4", you can update quark-engine via `pip install -U quark-engine` to test it.

Also, we have tested this malware example, and the function of the call graph works well.

Thank you 😄

[2021-03-31 11:03] teixeira0xfffff commented on #81
it works perfectly! Thank You, awesome project!
![image](https://user-images.githubusercontent.com/50772593/113134698-850b6c00-91f7-11eb-9bc6-fec8f6ce6ae4.png)

[2021-04-01 02:41] krnick commented on #81
So glad to hear you like it 😄

[2021-04-01 02:41] #81 closed

[2021-04-01 02:41] krnick commented on #147
Fixed it in version "v21.3.4"

[2021-04-01 02:41] #147 closed

[2021-04-01 02:44] krnick commented on #85
This feature was added in v21.2.2 and later.

[2021-04-01 02:44] #85 closed

[2021-04-09 07:58] cryptax opened #157 "Rule gets 60%, I think it should get 80% or 100%. Not sure."
Students and I are working on unpacked malicious sample **TI.json**, sha256: `b87b564401214ffe26592ada3f619126e2d83e2fc9d2fe55e421c8fd6ab2bf2f`. This is an **Android/Flubot**, unpacked.
The DEX can be downloaded [here](https://mega.nz/file/2Ax1CKgK#U402dQZcYRm-Pqw2cmuo7UvpBV6yGqmNqatPxm1gBAA):
It is encrypted with GPG, using password `infected`.

I am trying to write a rule that detects that _SMS

[2021-04-13 05:45] krnick commented on #157
Hi @cryptax ,

Thanks for reporting this issue!
I will working on it now and I will keep you updated if there is anything new coming up.

[2021-04-17 09:28] ciastron opened #158 "Methods from the "Extended Class""
Hi all, my friends (@Dil3mm3 and @3aglew0) and I are working to implement new quark rules (version 21.3.2) for a university semester project (our supervisor is @cryptax). We were analyzing Brazking malware (hash SHA256 be3d8500df167b9aaf21c5f76df61c466808b8fdf60e4a7da8d6057d476282b6, let us know if you want the sample).

In a nutshell the problem we have encountered is the following: *we noticed Q

[2021-04-17 10:54] 3aglew0 opened #159 "Quark doesn't detect that the output of first API is the input of the second API"
Hi all, my friends (@Dil3mm3 and @ciastron) and I are working to implement new quark rules for a university semester project (our supervisor is @cryptax). We were analyzing Brazking malware (hash SHA256 be3d8500df167b9aaf21c5f76df61c466808b8fdf60e4a7da8d6057d476282b6, let us know if you want the sample).

We wrote this rule that gets the list of installed applications and put them in the shared pr

[2021-04-20 06:03] krnick commented on #157
Hello @cryptax ,

After checking for a while, I analyzed the two Android Native APIs with the malware you provided, and the result confidence 60% is correct. The following is my analysis:

**To achieve 80% confidence, there must be a mutual parent function, or you could say the same super function.**

In the first Android API `getDisplayOriginatingAddress`, I searched for its supper function recur

[2021-04-20 07:22] haeter525 commented on #158
Hi @ciastron ,

Thank you for reporting the issue.
For easier testing, could you send the sample to me?
I will work on this and keep you update if anything new :)

[2021-04-20 10:39] Dil3mm3 commented on #158
Hi @haeter525 ,

Thank you for your reply.
This is the link of the sample: https://mega.nz/file/KNc20ZYT#ZWmq0wR1FzJ1M6vwRZLObxvfRSsWvucqX4hkOOciv5Y
The password is "infected".
Let us know if you have any update in the future :-)

[2021-04-20 19:06] haeter525 commented on #159
Hi @3aglew0 ,

The `StringBuilder` was not detected because Quark implements tainted analysis on registers only.
Unfortunately, the state of an instance is not tarced by Quark for now.
The breadcrumb from the first API breaks at the for-loop.
[code]
To explain better, the object `applicationInfo` comes from a list `installedApplications` created by the first API. As a result, it is tagged as an ac

[2021-04-21 03:07] krnick commented on #159
Quark did perform tainted analysis, even if other additional functions are used between two Android native API, such as the `toString()` you mentioned.

I think it's just because the current Quark's implementation for [Bytecode instructions](https://github.com/quark-engine/quark-engine/blob/master/quark/Evaluator/pyeval.py) is not complete, causing the tainted analysis to fail to achieve 100% conf

[2021-04-21 14:28] haeter525 commented on #158
Hi @Dil3mm3 ,

After discussing with other members, the result was correct because Quark matches only two APIs for each rule. Detecting APIs with the inheritance mechanism from Java may increase the complexity of the analysis process. Therefore, to keep it simple, we have to limit the number of APIs detected by Quark.

However, there is another project named [Quark Rule Auto-Generation](https://gi

[2021-04-22 08:05] cryptax commented on #157
@krnick thanks for looking into it. Using call graphs like this is unfortunately going to miss cases where an interface is used, which is the case with `Threads`/`Runnable`.

In your graph, the call to `onReceive` is in the first `run` (`PanelReq$1.run()`):
![screenshot](https://user-images.githubusercontent.com/2493690/115678047-63625800-a351-11eb-85f7-c37daefc9e51.png)

Then, the issue is that t

[2021-04-22 09:05] cryptax commented on #157
To enhance Quark at finding better "who calls who", perhaps you could add a specific case for the `run()` methods of `Thread` or `Runnable`. In that case, the "caller" is `start()`.

This is typically what I manually/intuitively do:

1. Check who calls `run()`.
[code]
We see nobody, which normally means "dead end".

2. Check if the class implements an interface.

[code]
It does implement a Runnabl

[2021-04-22 12:40] cryptax commented on #159
Not sure to understand your answers. Am I getting this right: @haeter525 says we are not getting 100% because Quark currently only implements tainted analysis for registers and the string with installed packages does not get in a register, but @krnick  believes this could be "fixed"/"improved"?

As for `quark -a some.apk -r rule_dir -o result.json`, the result follows. You'll notice `register` is

[2021-04-22 12:53] cryptax commented on #158
Hi @haeter525
Using the Quark Rule Auto-Generation will generate a rule with getRootInActiveWindow from `com/gservice/autobot/Acessibilidade`, won't it?

[code]

The problems I see with that is:

1. What crime name is the auto-generation project going to give to the rule? It's going to be difficult find something relevant.
2. This rule can only be used on this precise sample. We had intended to ke

[2021-04-24 03:09] krnick commented on #159
Hi @cryptax

Yeah, you are right. I believe this is Quark's issue on tained analysis, we will fix it as soon as possible.

For now, this behavior only achieves 80%, but after I check it by reading the smali code, it should be 100% on confidence, and the register column should show up the mutual parent function.

[2021-04-24 03:28] krnick commented on #158
Hi @cryptax

Yes, there is indeed such a problem existing.

In the beginning, we only considered the native Android API in the design of Quark and did not consider the class inheritance. Therefore, we have no idea how to solve this problem.

As you said, although auto-generation can find such a combination, it still requires an experienced malware analyst to point out this behavior. Even if using

[2021-04-24 03:38] krnick commented on #157
For now, Quark does not support detecting the Thread, so the graph seems not to find out the usage of the case with `Threads/Runnable`.

Thank you @cryptax  for providing me with your valuable experience. I will try to see if I can implement this feature, even if it is difficult :).

[2021-04-26 07:45] cryptax commented on #158
hi @krnick, I think the strategy you describe should work! :+1:

[2021-04-26 07:50] cryptax commented on #157
@krnick for this one we had a trick that might help: in the call tree analysis, replace any `Thread.start()` by `Thread.run()`, and this should automatically fix the call tree :) Of course, the code does `start()` and not `run()`, so this would be just a replacement for the analysis.

[2021-04-27 02:43] krnick commented on #158
No problems, I will working on it!

That would be great! Thank you all @cryptax @ciastron @Dil3mm3 ! 🎉. It's very sweet of you guys!
Please let me know if there is any question or anything that need help 😄

[2021-05-19 11:27] haeter525 opened #166 "Fulfill Quark tests"
Quark has evolved rapidly with features and bug fixes. But most of these are not well tested. Here is a list of files containing functions without proper/enough tests.

1. quark.py
2. pyeval.py
3. output.py
4. report.py
5. freshquark.py

Those functions without tests may become issues for Quark. However, I'm not sure if there are some functions left without tests intently. I think it may need more

[2021-05-19 11:37] krnick commented on #166
Hello @haeter525 ,

Thanks for helping with that, you can check the [codecov](https://app.codecov.io/gh/quark-engine/quark-engine) website for Quark or you can run code coverage yourself via the command below to see which functions are not well tested.

`pytest --cov=./` under quark directory.

Please feel free to let me know if there are any questions.

[2021-05-29 10:43] 3aglew0 commented on #159
Hi all, we (@cryptax, @Dil3mm3, @ciastron and me) are working on a different malware and we encountered an issue similar to the one reported above. Analyzing moqhao malware (sha256: bbee58b1e0787bb851e7f7a4d0c187a8122d68eb67e5fa464696310398ac005b, you can get it here:  https://mega.nz/file/adswiQxQ#T59B9DHbdug3Ans57YejSU6eR4FcAspMYE4bqBEdWrY  the password is: infected ), we wrote this new rule:
[c

[2021-06-02 06:40] #166 closed

[2021-06-03 10:49] 3aglew0 commented on #157
Hi all,

we (@cryptax , @ciastron , @Dil3mm3 and me) tried to dig deeper into this issue.
First we tried to understand how Quark works analyzing the step 4 of Quark analysis (sequence check). In particular we looked at class ``` Quark ``` inside Quark.py, methods: ``` find_previous_method ```, ``` find_intersection ``` , ``` check_sequence ```.

Firstly, we noticed that the constant ``` MAX_SEARCH

[2021-06-07 10:29] mlodic opened #180 "click dependency issue with IntelOwl"
Hi everyone!

Regarding this line: https://github.com/quark-engine/quark-engine/blob/v21.6.1/setup.py#L36,
Is it necessary that specific `click` version? I am asking this because this creates conflicts in integrating the latest version (21.6.1) in [IntelOwl](https://github.com/intelowlproject/IntelOwl) because there are other dependencies (like `celery`) that do support only old `click` version. I

[2021-06-07 12:23] krnick commented on #180
Hello @mlodic !

Thanks for letting me know about this problem.

We need the click version greater than **8.0.1** to apply the new command-line feature we just released in Quark version 21.6.1 since it can't install the latest version(8.0.1) via `pip3 install quark-engine` if we don't specify it.

However, the integration of Quark API won't be affected by the click version. Therefore, you can choo

[2021-06-07 12:34] mlodic commented on #180
yep I'll do the second one (manually specify the click version to make the dependencies work), thank you for your time! have a good GSoC :)

[2021-06-07 12:34] #180 closed

[2021-06-07 12:42] krnick commented on #180
No problem!
We really appreciate your kind help in everything 😄
Hope you have a good time on GSoC too!

[2021-06-24 09:51] cryptax opened #186 "cannot import name 'checkboxlist_dialog': need for prompt toolkit"
With Quark 21.6, I get this error. I believe you need to specify you need **prompt-toolkit 3.0**

[code]

Modify `setup.py` with this to get it to work

[code]

[2021-06-24 10:15] krnick commented on #186
Hello @cryptax , thanks for letting me know about this problem!
I will modify `setup.py` and release it on PyPi soon.

[2021-06-24 10:57] krnick commented on #186
Hi @cryptax, I have updated the version of `prompt-toolkit` on PyPi, please help me to check if it works in your environment now.
Many thanks!

[2021-06-25 09:39] Naviee-cs opened #188 "Bug in the call graph function"
HI,

I am trying to use this option available on quark engine  -g, but it's getting dropped out not executing.
![photo1624607605](https://user-images.githubusercontent.com/84838771/123405254-ec904800-d5a9-11eb-883e-cccc3d4941c1.jpeg)

[2021-06-25 09:56] krnick commented on #188
Hi @Naviee-cs ,

Thanks for reporting this issue.

For the first error shown above, it is due to the lack of the argument for option `-o`. Therefore, you have to put a filename after it, for example:
[code]

For the second issue, you have to type:

[code]

to generate the call graph.

[2021-06-25 10:55] Naviee-cs commented on #188
Yes, the second one, I have tried the same -s -g, but still, I am getting an error. I attached a screenshot for your reference.
![photo1624607832](https://user-images.githubusercontent.com/84838771/123414777-9bd21c80-d5b4-11eb-8859-08d52e68a4fa.jpeg)

[2021-06-29 02:37] haeter525 opened #191 "Show Parent Functions' Cross-References in Rule Classification"
**Is your feature request related to a problem? Please describe.**

The current rule classification doesn't consider references between parent functions. If a parent function calls another to perform a behavior, it is difficult to check this behavior in the rule classification report.

**Describe the solution you’d like**

I propose a new feature that lists cross-references between parent function

[2021-06-29 02:46] haeter525 commented on #191
Hi @krnick ,

Can you kindly take a look at this feature? If you think it is OK, please assign it to me.

Thank you!

[2021-07-02 05:16] krnick commented on #191
Closed with #192

[2021-07-02 05:16] #191 closed

[2021-07-06 07:31] cryptax opened #199 "Threshold filtering does not work in detailed mode"
The command `quark -d -a virus-locker.apk -t 60` outputs details for all rules including those with confidence lesser than 60%. The command line acts as if `-t 60` wasn't specified, whereas this option does work for `-s` (summary) mode. If you issue `quark -s -a virus-locker.apk -t 60`, you do only get the results for rules with confidence >= 60%, which is what I expected.

I think the parsing of

[2021-07-08 10:25] 0ssigeno opened #202 "Have Click as an optional dependency"
Hey everyone!

**Is your feature request related to a problem? Please describe.**
Quark does not separate optional dependency, like Click, from required dependency (I suppose everything else).
Since Quark can be used as a module, and in this case Click it is not required at all, will solve some compatibility issues with other libraries, i.e. `celery >= 5.0.0`.

**Describe the solution you'd like**

[2021-07-12 10:02] krnick commented on #202
Thank you @0ssigeno for letting us know about this issue!
Is this issue the same as @mlodic mentioned in #180?

[2021-07-12 10:32] 0ssigeno commented on #202
Absolutely the same issue. Did not saw the already open issue about it. You can close this, let me know if I can help you with some sort of implementation.

[2021-07-13 05:06] haeter525 commented on #202
Hi @0ssigeno,

After a day of searching, I found another solution that makes no change to the commands.
Define an environment variable before installation. This variable lets Quark not install its cli dependencies.

Here is the scenario.
[code]
It's a practical method used in most python projects (e.g., [annoy](https://github.com/spotify/annoy/blob/57a47fc8a18dec6c5fd439143259ead36ec14eca/setup.py

[2021-07-13 07:10] 0ssigeno commented on #202
Cool idea! Did not know about that this was a possible solution.

I get your point about users install the "wrong" Quark: with your solution, making the CLIless Quark an option, and not the default installation method, users that do not read docs will continue to install the complete Quark package.

Again, very cool idea!

[2021-07-14 10:24] krnick commented on #186
Closed in PR #187

[2021-07-14 10:24] #186 closed

[2021-07-14 10:25] krnick commented on #127
Closed in PR #212.

[2021-07-14 10:25] #127 closed

[2021-07-14 10:30] krnick commented on #59
outdated issue

[2021-07-14 10:30] #59 closed

[2021-07-16 08:49] 0ssigeno commented on #202
Trying to install the new version from pip, unfortunately, this solution does not seems to work. It probably has to do with the fact that I did not touch neither the `Pipfile` nor the `Pipfile.lock`. Any idea for these? Should just state that, for this "feature" the user should download and install from the Github repository?

[2021-07-19 10:08] haeter525 commented on #202
Hi @0ssigeno ,

Sad to say, it seems not to work even without `Pipfile` and `Pipfile.lock`. I think the reason is that PyPi prefers the wheel file instead of the source distribution of Quark.

After discussing with the team, we all agree that we should remove the requirement for the click version. I will open a PR for this ASAP.

Again, thank you for letting us know about this problem!

[2021-07-20 04:55] #202 closed

[2021-07-20 05:49] krnick commented on #202
Hello @0ssigeno , @mlodic ,

In the latest version v21.7.2, we have decided to soften the dependency of the `click` package so that you can better solve the dependency issue :D.

[2021-07-20 06:56] ajinabraham opened #222 "Backward Compatible API"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

The latest release from pypi has a breaking API change.

https://github.com/MobSF/Mobile-Security-Framework-MobSF/pull/1770

[code]

**Describe the solution you'd like**
A clear and concise description of what you want to happen.

It's ide

[2021-07-21 06:54] haeter525 commented on #222
Hi @ajinabraham ,

Thank you for reporting this issue!
It appears to be caused by the adjustment on module names in v21.7.1.
I will work on it now. And I will keep you updated if there is anything new.

[2021-08-04 06:16] #199 closed

[2021-08-05 14:07] mlodic opened #225 "issue with quark log and IntelOwl"
Hi everyone,

while developing on IntelOwl I have just noticed that when importing
[code]
from the [Quark analyzer](https://github.com/intelowlproject/IntelOwl/blob/develop-2/api_app/analyzers_manager/file_analyzers/quark_engine.py#L7), in the main directory of the project a log file is created. But it seems that it is never used by our integrations (`<date>.quark.log`)

This [line](https://github

[2021-08-05 21:21] ajinabraham opened #226 "Quark Fails to do analysis on certain APKs"
**Describe the bug**

Exception happens here

[code]

Ref: https://github.com/MobSF/Mobile-Security-Framework-MobSF/issues/1774

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Expected behavior**
A clear and concise description of what you expected to happen.

**Screenshots**
If applicable, add screenshots to help explai

[2021-08-06 10:31] sharteeya commented on #225
Hi mlodic,
We'll discuss this issue. Thanks for your report!

[2021-08-06 10:35] sharteeya commented on #226
Hi ajinabraham,
We've received this issue and will investigate it. Thanks for your report!

[2021-08-09 04:37] krnick opened #227 "Different behavior on cross-reference between Rizin and Androguard"
Currently, Rizin's cross-reference behavior is inconsistent with Androguard. Please keep track of rizin's follow-up issue [1276](https://github.com/rizinorg/rizin/issues/1276), and help them deal with it.

1. Supporting multiple DEX
2. inconsistent behavior on cross-reference

[2021-08-09 05:21] krnick opened #228 "Add try-catch protection to prevent any potential problems that may cause quarks crushing"
Quark often encounters crashes when analyzing APKs, causing the program to exit unexpectedly. A better solution is below:

1. Use a Try-Catch block where there may be potential errors that cause the process to be interrupted.
2. Provide appropriate error prompts for maintainers to fix after that.

Reference:
issue #226
issue #111

[2021-08-09 05:28] krnick opened #229 "Update Debian package information and dependencies"
The Debian package of Kali Linux has been outdated since the last time upload and needs to be updated and repackaged as a Debian installation package.

Maybe we can build a robot to run generating a .deb file with Github Action.

[2021-08-09 07:46] sharteeya commented on #226
Hi ajinabraham,
Since we want to reproduce the error, may we have the APK used in the issue for fixing the bug?
Thanks!

[2021-08-11 15:45] ajinabraham commented on #226
I don't have, but requested the issue reporter to provide an APK to replicate this.

[2021-08-12 04:54] #225 closed

[2021-08-12 04:59] krnick commented on #225
Thank you @mlodic for letting us know about this issue. We have excluded the Log module in the Quark API and will release the latest version as soon as possible :D

[2021-08-13 12:46] sharteeya commented on #82
This issue will keep tracking in issue 130. Thanks for your report!

[2021-08-13 12:46] #82 closed

[2021-08-14 04:53] CYBERDEVILZ commented on #133
Hello,
I have created a fix for this issue. Shall I open the PR in quark-rules repo?
Thanks!

[2021-08-17 02:19] krnick commented on #133
Hello @CYBERDEVILZ ,
Thanks for the kind help, please feel free to open this PR to [quark-rules](https://github.com/quark-engine/quark-rules/) repo

[2021-08-17 02:44] CYBERDEVILZ commented on #133
On it now!

[2021-08-18 09:01] krnick commented on #133
@pulorsok this issue is solved by @CYBERDEVILZ , see PR [here](https://github.com/quark-engine/quark-rules/pull/17).

[2021-08-19 02:11] #188 closed

[2021-08-20 05:40] sharteeya commented on #133
Thank you @CYBERDEVILZ  for contributing to Quark!

[2021-08-20 05:40] #133 closed

[2021-08-25 09:51] TheDauntless opened #237 "rule attribute for -s/-d only searches current directory"
**Describe the bug**
The documentation says that it is possible to give an argument to -s and -d that specifies the rule to apply:

[code]

However, this searches for '00054.json' in the current directory and not in the actual rule set. This will result in a file not found error:
[code]

**To Reproduce**
1. Create new virtual env: `python3 -m venv env` and load it `source env/bin/activate`
2. Inst

[2021-08-25 10:27] sharteeya commented on #237
Hi @TheDauntless , we are currently investigating this issue.
Thanks for your report!

[2021-08-25 13:50] sharteeya commented on #237
Hi @TheDauntless
This problem is caused by the outdated content of our document. The way to select a rule is to specify the path to the rule file.

The correct command of our document to specify rules is:
[code]
(The default path to Quark-Rule is `$HOME/.quark-engine/quark -rules/`)

So the command to select rule 00054 is:
[code]

We'll update our document soon and discuss a solution to help users

[2021-08-25 15:13] TheDauntless commented on #237
That's great! Would still be nice to be able to filter on a rule without having to know the location. Especially since `freshquark` doesn't currently print the target directory.

[2021-08-26 05:54] yashoswalyo opened #239 "Someone Help "quark --help" not working"
### ERROR
I installed quark using PyPi with command
`pip3 install -U quark-engine`

after that when I run quark or quark --help i am getting this error
[code]
Please anyone suggest me what to do?

[2021-08-26 08:15] #239 closed, assigned to haeter525

[2021-08-27 03:00] 18z opened #240 "Add FAQ to our documentation"
The triage team has developed a FAQ for quark engine.
I suggest to move the FAQ to https://quark-engine.readthedocs.io/en/latest/

Since good documentation is the foundation of open source project.
What do you guys think?

[2021-08-30 06:00] sharteeya commented on #240
Hi @18z ,
I'll make a pull request to add FAQ into the document. Thanks for your asking!

[2021-08-30 06:29] 18z commented on #240
Nice! Thanks buddy!

[2021-09-01 00:51] 18z opened #243 "Add docs for triage team"
Hi all,

Our triage team is running for almost two months.
We need to have documents showing the responsibilities and job descriptions of the team.

[2021-09-01 06:10] sharteeya commented on #240
The FAQ has been added to the document. Thanks for your report.

[2021-09-01 06:10] #240 closed

[2021-09-01 23:31] fbinliu commented on #153
Same here, with graphviz installed, get the error message as:
`[*] Creating Call Graph...
Traceback (most recent call last):
  File "c:\users\liu\appdata\local\programs\python\python39\lib\runpy.py", line 197, in _run_module_as_main
    return _run_code(code, main_globals, None,
  File "c:\users\liu\appdata\local\programs\python\python39\lib\runpy.py", line 87, in _run_code
    exec(code, run_glob

[2021-09-02 07:38] pulorsok commented on #243
@18z Agree! I will update the documents later.

[2021-09-02 07:51] #237 closed

[2021-09-08 08:34] sharteeya commented on #75
I think this suggestion is not suitable for Quark-Engine now.

1. Viper has not released a new version for three years, and the latest commit is for fixing spelling. It's not that good to use Viper as an example.
2. I did not see any plans of merging objects, either in issue or milestone. I'm not sure that if Viper will do this in their future release.
3. There are only five objects in the struct

[2021-09-09 07:50] 7homasSutter commented on #130
I'm currently scanning thousands of apps with quark-engine and experience that huge memory bursts can occur with some specific apps. And by huge I mean quark-engine uses all available memory (400GB) until no more memory can be allocated and quark-engine crashes. I don't know if this is really related to the app size and I will investigate the problem further and may post some example apps.

Would

[2021-09-10 09:48] haeter525 commented on #153
Hi, @fbinliu and @yashomer1994 ,

Thank you for reporting this!
The call graph requires a working Graphviz in your systems' PATH. Can you kindly check whether running `dot -V` on the command-line prints the version of Graphviz?

[2021-09-17 10:43] #129 closed

[2021-09-20 13:44] #243 closed

[2021-09-22 05:16] sharteeya commented on #78
I think the issue has been solved and will close it.
Also, we add this question into our documentation (PR #241). Thanks for your asking!

[2021-09-22 05:16] #78 closed

[2021-09-23 00:46] haeter525 commented on #111
Since #230 has solved this by removing the problematic code from the release, I will close the issue lately.
Thank you for reporting this!

[2021-09-23 00:46] #111 closed

[2021-09-23 06:18] haeter525 commented on #77
Hi @onemoreflag !
Since PR #230 has solved this by removing the problematic logger in pyeval.py,
I will close this issue lately. Thank you for opening this!

[2021-09-23 09:57] #77 closed

[2021-09-25 09:51] #134 closed

[2021-09-25 10:40] pulorsok opened #251 "Add release process into docs"
The triage team's responsibilities include managing the Quark releases, but the documentation doesn't describe the release process.
We need to define the release process and add it into docs.

[2021-09-25 10:41] pulorsok opened #252 "Add a process for handling invalid issues"
We need to define a process to handle the issues we cannot reproduce, especially if the issue raiser has not responded for a long time.

[2021-09-26 07:07] sharteeya commented on #252
I agree with you. I've found that there are two types of those invalid issues:
1. The issue has already been removed/updated from Quark-Engine.
2. The issue can not reproduce or confirmed if it exists. And we lost contact with the user who hosts the issue.

**Suggestions:**
- For type 1, I suggest close them by marking an invalid label and a brief reply.
- For type 2, I suggest marking them with a

[2021-09-30 08:06] #251 closed

[2021-10-01 07:22] #252 closed

[2021-10-01 07:43] #117 closed

[2021-10-01 07:59] sharteeya commented on #74
Since the content in this issue no longer exists in Quark-Engine. This issue will be closed. Thank you for reporting the issue!

[2021-10-01 07:59] #74 closed

[2021-10-01 12:57] haeter525 opened #256 "Configure Codacy not to flag assert statements"
**Description**
Codacy flags when code contains `assert` statements. Any change to tests will fail the CI check.
[Here](https://app.codacy.com/gh/quark-engine/quark-engine/pullRequest?prid=8121756) is an example.

**Suggested Solution**
According to the [doc](https://docs.codacy.com/repositories-configure/configuring-code-patterns/), add a file to disable this check.

A related issue in the open-s

[2021-10-03 09:43] haeter525 commented on #229
Here are the steps I found to upgrade the Debian package in Kali.
I will start to work on the robot lately.

---
**Step 1. Update Debian information**
Update two files in the folder, `debian`.

**File `debian/control`**
Update the following values.
1. `Build-Depends` is the dependencies of Quark.
2. `Standards-Version` is the release version of Quark.

**File `debian/changelog`**
Apply the changel

[2021-10-03 10:29] #256 closed

[2021-10-04 03:13] #158 closed

[2021-10-05 01:41] #138 closed

[2021-10-05 08:20] haeter525 opened #258 "Quark fails to scan with specific rule set"
**Describe the bug**
The flag `-s` and `-d` can specify a rule set for analysis. However, such functions seem not to work correctly.

The reason is that Quark includes the built-in rules by default. When the user specifies a rule, Quark doesn't clean up the rule resources. That causes an unexpected analysis using both specific and built-in rule sets.

**To Reproduce**
Steps to reproduce the behavi

[2021-10-05 17:10] #258 closed

[2021-10-06 02:05] sharteeya opened #260 "Version not update"
**Describe the bug**
I just found that the version in `__init__.py` does not update. I will push a fix for this very soon.

**Expected behavior**
The version should be 21.10.1.

**Screenshots**
![image](https://user-images.githubusercontent.com/38580996/136129130-dbeb34dd-2231-45ac-9e0a-6d6f33854f60.png)

[2021-10-06 02:39] #260 closed

[2021-10-06 21:34] haeter525 opened #263 "The Debian package cannot include the rz-pipe module"
**Describe the bug**
As the title, that makes Quark crashes in Kali Linux.

The reason is that the Debian package requires its dependencies are in the .deb format. However, rz-pipe, as one of Quark's dependencies, doesn't provide a .deb file. Thus, Quark cannot include it in the Debian package system.

![image](https://user-images.githubusercontent.com/3461569/136282792-4c7e17a1-2f55-4e9b-98c7-15f

[2021-10-13 03:28] Surendrajat opened #264 "Error on GitHub actions Windows VM"
**Describe the bug**

Quark is throwing error while running `quark --help`:

[code]

[Complete logs](https://github.com/APKLab/APKLab/runs/3877955558#step:8:16)

**To Reproduce**
[code]

**Expected behavior**
It should show the help.

**Desktop (please complete the following information):**
 - OS: Microsoft Windows Server 2019
 - Quark-engine v21.10.2

**Additional context**
It's running on GitHub

[2021-10-13 03:39] krnick opened #265 "The tqdm progress bar show twice"
**Describe the bug**
The rules parsing somehow execute twice which leads to the progress bar show twice.

**To Reproduce**
[code]

**Expected behavior**
It should only show the progress bar once.

**Screenshots**
<img width="1269" alt="螢幕快照 2021-10-13 上午11 35 42" src="https://user-images.githubusercontent.com/16042160/137062935-66fea40f-c6e9-4af9-8181-a6da4ef959d1.png">
<img width="1280" alt="螢幕快照

[2021-10-13 04:20] Surendrajat opened #266 "CI: run smoke test on windows & macos too"
Just a suggestion. Currently, smoke-tests only cover Linux, but it'll be helpful to see it passing on other OSes too.

[2021-10-14 06:13] sharteeya commented on #265
Hi @krnick.
I'll investigate this issue soon. Thanks for your report!

[2021-10-19 03:48] sharteeya commented on #265
Since there is a `tqdm` on loading rule files, that's the reason why there are two progress bars. I've removed it to prevent misleading users.

[2021-10-19 12:16] #264 closed

[2021-10-19 12:24] #265 closed, assigned to sharteeya

[2021-10-20 00:55] leeweiche20 commented on #153
I got the issue as same as @fbinliu with graphviz version 2.49.1 (20210923.0004).=>Already check by running dot -V command.
Quark version is the latest 21.10.2
And I have tried the solution which mentioned from "v21.8.1 release note" (P.63 10.2.2  #237.)
It still has the same issue.

[2021-10-20 05:19] matteodalgrande opened #274 "save result of "-C" flag as .jpeg or .png"
https://github.com/quark-engine/quark-engine/pull/273

**Is your feature request related to a problem? Please describe.**
When everyone run quark-engine inside a docker, it is not possible to see the result of "-C" flag, due to the fact that docker has not a screen as default and the function of -C does not include this feature.

**Describe the solution you'd like**
I want that with "-C" flag, it

[2021-10-20 05:48] leeweiche20 opened #275 "IndexError"
I'm testing Line old version(jp.naver.line.android_v5.2.5) apk by using command -d(Detail Report).
Here is the issue what I got:
Traceback (most recent call last):
  File "c:\python\lib\runpy.py", line 197, in _run_module_as_main
    return _run_code(code, main_globals, None,
  File "c:\python\lib\runpy.py", line 87, in _run_code
    exec(code, run_globals)
  File "C:\Python\Scripts\quark.exe\__ma

[2021-10-21 01:40] #266 closed, assigned to nobody

[2021-10-21 02:09] #274 closed, assigned to pulorsok

[2021-10-27 08:45] #275 closed, assigned to nobody

[2021-10-27 09:41] krnick opened #279 "Different JSON formats cause Jadx and APKLab to fail to read Quark report"
**Describe the bug**
In the feature request in issue #117, there are two PRs (#254, #247) related to it and modified the original report format, including the detail report and JSON report, which caused Jadx and APKLab to fail to read different JSON formats.

**Quark-Engine:**
 - Version v21.10.2

[2021-11-02 05:28] #279 closed

[2021-11-02 08:12] haeter525 opened #281 "Stage 5 doesn't update all the registers used by invoke-kind instruction"
**Describe the bug**
Currently, Quark stores the execution result of invoke-kind into the return register only.

**Expected behavior**
Write the result into all the registers used by an instruction.

For example, here is an instruction.
[code]
It will be a better simulation to write the result into v1, v2, and the return register.

[2021-11-02 08:53] haeter525 opened #283 "Redundant quotation marks show in the JSON report"
**Describe the bug**
Quark prints the mutual parent functions with redundant quotation marks in the JSON report.

[code]

**Expected behavior**
Remove the redundant quotation marks.

[2021-11-02 09:41] #281 closed

[2021-11-02 09:49] #283 closed

[2021-11-03 14:09] Hagb opened #285 "Cannot parse Build-Depends field when building deb package"
**Describe the bug**
Deb package building failed with `dpkg-source: error: cannot parse Build-Depends field`, because of a syntax error in `debian/control` file:
[code]

**To Reproduce**
Steps to reproduce the behavior:
1. install dependences of quark-engine debian package (optional)
2. run `dpkg-buildpackage --build=binary --no-sign`, and then it will fail with the error above.

**Expected behavi

[2021-11-09 08:23] roxax19 opened #286 "Bug with graphviz 0.18. (needed previous version)"
**Describe the bug**
When installing last version of graphviz, one import is missing. I had to install graphicviz 0.16. You might have to update Pipfile.

**To Reproduce**
Steps to reproduce the behavior:
[code]

**Expected behavior**
I expected it to show quark help.

**Screenshots**
![image](https://user-images.githubusercontent.com/56911452/140887687-600136db-cfb0-48b8-a49b-41400b533f59.png)

*

[2021-11-09 11:20] mlodic commented on #286
hi guys, I have just encountered the same problem while working on IntelOwl

`[REPORT] Job:1, status:'pending', analyzers:['APKiD_Scan_APK_DEX_JAR', 'Quark_Engine_APK']
Traceback (most recent call last):
  File "/opt/deploy/intel_owl/api_app/core/classes.py", line 123, in start
    _result = self.run()
  File "/opt/deploy/intel_owl/api_app/analyzers_manager/file_analyzers/quark_engine.py", line 12

[2021-11-19 20:53] EpicDima commented on #286
Hi everybody. Exactly the same mistake.
`Traceback (most recent call last):
  File "C:\Applications\Python3.9\lib\runpy.py", line 197, in _run_module_as_main
    return _run_code(code, main_globals, None,
  File "C:\Applications\Python3.9\lib\runpy.py", line 87, in _run_code
    exec(code, run_globals)
  File "C:\Applications\Python3.9\Scripts\quark.exe\__main__.py", line 4, in <module>
  File "C:

[2021-11-22 09:01] mlodic commented on #286
@krnick sorry for the ping, did you have some time to look into this? thank you in advance!

[2021-11-22 09:21] haeter525 commented on #286
Hi @mlodic , @roxax19 , and @EpicDima

Sorry for getting back late.
It seems that a file rearrangement on Graphviz 0.18 crashes Quark
We had started investigating this. Thank you all for reporting it.

[2021-11-22 10:56] haeter525 commented on #286
Thank you @mlodic , @roxax19 , and @EpicDima  for letting us know.
Thank @nplesak  for patching it by #288 . The issue has been fixed by adjusting the import.
We will close it lately and release the latest version as soon as possible. :D

[2021-11-22 10:59] #286 closed

[2021-11-23 09:26] sharteeya opened #289 "Dependency packages should specify versions instead of any version."
**Describe the bug**
As title. Most of the dependency packages that Quark-Engine needs do not specify a version. This setting may cause a potential malfunction issue when one of the dependency packages updates (Reference to issue #286).

**Describe the solution you'd like**
Instead of setting the versions to any version, most dependency packages should specify a version or a range of versions.

Fo

[2021-11-24 01:38] #285 closed

[2021-11-25 07:47] #289 closed

[2021-11-25 08:55] haeter525 opened #291 "Prepare to release version v21.11.2"
For releasing the latest version of Quark, we need to update the version in `__init__.py`.

In this release, the following changes will be included. All of them have been tested.
- #278
- #288
- #290

[2021-12-05 15:21] #291 closed

[2021-12-22 10:09] superpoussin22 commented on #222
@haeter525 is there some progress ?
thanks

[2021-12-22 14:57] haeter525 commented on #222
Hi, @superpoussin22

Sorry for getting back late.
I found that the integration incorrectly uses the internal API (`quark.object`) instead of Quark's [public consistent one](https://quark-engine.readthedocs.io/en/latest/integration.html#directory-scanning) (`quark.report`). As a result, it crashes when Quark gets updated.

We need to submit a patch to the MobSF repo for fixing the integration. Howe

[2021-12-23 10:36] superpoussin22 commented on #222
@haeter525  thanks.
I'm able to make it work :) thanks for the pointer
happy christmas

[2021-12-24 14:00] superpoussin22 commented on #222
issue can be closed

[2021-12-27 06:03] haeter525 commented on #222
Thank you, @superpoussin22 .
I will close this lately :D

[2021-12-27 06:03] #222 closed

[2022-01-04 02:24] haeter525 opened #295 "Quark failed to scan with the Rizin-based analysis library"
**Describe the bug**

Running Quark with the Rizin-based library will crash the analysis due to a missing file. Here is the stack trace.

[code]

**To Reproduce**

1. Run this command, `quark -a PATH_TO_APK -s --core-library rizin`

2. See the error

**Expected behavior**
Show the summary report and exit.

**Environment**

 - Ubuntu 20.04
 - Quark-Engine v21.11.2
 - Rizin 0.3.1

[2022-01-04 06:06] #295 closed

[2022-01-04 07:12] haeter525 opened #297 "Prepare to release version v22.1.1"
Update the version number in `__init__.py` for the latest release of Quark.

In this release, the following changes will be included.

- #294
- #295

[2022-01-09 18:34] javixeneize opened #299 "quark gets stuck during the scan"
Hi

I am running quark in my local machine (mac m1) against this apk --> https://apkpure.com/es/nodo-play/nodo.play using the command  quark -a nodoplay.apk -d

When it reaches 52% of the scan, it gets stuck until it crashes

[1]    24031 killed     quark -a nodoplay.apk -d
/opt/homebrew/Cellar/python@3.9/3.9.9/Frameworks/Python.framework/Versions/3.9/lib/python3.9/multiprocessing/resource_tracker

[2022-01-10 04:49] haeter525 commented on #299
Hi @javixeneize

Thank you for reporting this issue!
We will start to investigate it soon. If there is anything new, I will keep you updated :)

[2022-01-11 11:04] #297 closed

[2022-01-12 22:19] javixeneize commented on #299
Thanks!

[2022-01-18 06:29] haeter525 opened #301 "AttributeError occurs at the Rizin-based library."
**Describe the bug**

When running analysis on [this sample](https://apkpure.com/es/nodo-play/nodo.play) with the Rizin-based library, Quark crashes with an AttributeError. Here is the stack trace.

[code]

**To Reproduce**

1. Download [this sample](https://apkpure.com/es/nodo-play/nodo.play)
2. Run this command `quark --core-library rizin -a nodoPlay.apk`
3. See the error

**Environment**

+ Ubu

[2022-01-25 02:24] #301 closed

[2022-01-28 11:27] cryptax opened #304 "Quark label report does not work any longer UnboundLocalError"
quark with option `-l detailed` or `-l max` crashes with `UnboundLocalError`. This used to work, so probably a _regression_?

[code]

**To Reproduce**
- Please get an APK. I tested with 2 totally different ones, and got the crash in both case, so I believe this does not depend on the APK.
- Run `quark -a your.apk -l detailed` or `quark -a your.apk -l max`

**Desktop (please complete the following

[2022-01-29 04:02] pulorsok commented on #304
Hi @cryptax

Thank you for reporting this issue!
We will start to investigate it. If there is anything new, I will keep you updated :)

[2022-01-29 21:12] realsdx opened #305 "Failing to generate report with rizin"
**Describe the bug**
Analysis fails when using rizin as core library.
[code]

**To Reproduce**
Steps to reproduce the behavior:
1. Run quark-engine on this apk (https://github.com/quark-engine/apk-malware-samples/blob/master/Ahmyth.apk) with rizin as core libary

**Expected behavior**
Generate report without any error

**Desktop (please complete the following information):**
 - OS: Pop!_OS (Debian

[2022-02-08 11:42] haeter525 commented on #305
Hi @realsdx

Thank you for reporting this!
We will start investigating it. And I will keep you updated if there is anything new.

[2022-02-10 07:57] haeter525 commented on #304
Hi @cryptax

I tested on the container and got the same error as well. It seems like one of Quark's dependencies, prettytable, is outdated (version 0.7.2) and causes Quark to crash. I found version 1.0.0 is the minimal version that Quark can work.

Therefore, I will open a PR later to fix the incorrect version of prettytable. And we will release the latest Quark soon. Thank you for reporting this

[2022-02-11 00:55] #304 closed

[2022-02-11 06:35] haeter525 commented on #305
Hi @realsdx

It's a problem caused by an API change in the recent Rizin. The rework of the Dex parser in Rizin v0.3.0 has changed the display format of binaries. Therefore, the Rizin-based analysis needs several adjustments. And we are still working on it.

For now, Quark is only compatible with Rizin v0.2.0 or v0.2.1. You might want to install one of them to run the analysis. Thank you for report

[2022-02-11 08:38] haeter525 opened #307 "Prepare to release version v22.2.1"
Update the version number in `__init__.py` for the latest release of Quark.

In this release, the following changes will be included.

- #301
- #304
- #300
- #303

[2022-02-15 05:46] haeter525 opened #309 "Update README to indicate the compatible Rizin versions"
**Is your feature request related to a problem? Please describe.**

An API change in Rizin v0.3.0 has led the Rizin-based analysis to fail. To avoid users experiencing errors similar to #305, we need to indicate this restriction before fixing it.

**Describe the solution you'd like.**

Indicate the compatible Rizin versions in the README. For now, Quark only works with Rizin v0.2.0 and v0.2.1.

[2022-02-15 07:35] #307 closed

[2022-02-15 09:48] #309 closed

[2022-03-04 10:32] PaulNicolasHunter commented on #130
The minimum number of process is 1 and the max doesn't seem to have any limit, it should be `multiprocessing.cpu_count()`, machine may run out of memory [1] if exessive numbers are provided.

I suggest we put some sort of check on the num processes.

Possible files - parrallelquark.py and cli.py

[1]: [num processes](https://stackoverflow.com/questions/20039659/python-multiprocessings-pool-process

[2022-03-05 14:13] haeter525 commented on #130
Hi, @PaulNicolasHunter.
Thank you for the scenario! It's a considerable problem that users may experience.

However, I don't think it's the root cause of this issue. Quark had encountered the memory burst problem before introducing the parallel analysis feature. Furthermore, it's reproducible in #299 by running Quark on a single process.

Therefore, I doubt the scenario you discuss is another prob

[2022-03-05 16:13] PaulNicolasHunter commented on #130
Sure @haeter525 !

[2022-03-05 16:14] PaulNicolasHunter opened #311 "Max num_process should have a check."
The minimum number of process is 1 and the max doesn't seem to have any limit, it should be multiprocessing.cpu_count(), machine may run out of memory [1] if exessive numbers are provided.

I suggest we put some sort of check on the [num processes](https://stackoverflow.com/questions/20039659/python-multiprocessings-pool-process-limit#:~:text=but%20an%20insane%20amount%20of%20processes%20started%2

[2022-03-06 07:30] haeter525 commented on #311
Hi, @PaulNicolasHunter.

Sure thing! Excessive processes over the available cores may exhaust the memory. Restricting it can avoid that situation.

Thank you for reporting this! If possible, would you like to implement the patch for it?

[2022-03-06 12:22] PaulNicolasHunter commented on #311
Sure @haeter525, will work on it.

[2022-03-08 08:03] 18z opened #313 "Quark rule redesign in YARA format"
Since [YARA](https://yara.readthedocs.io/en/v4.1.0/index.html) is one of the well-known and the most used for malware detection. I suggest to redesign Quark rule in YARA format, making Quark a YARA compatible engine.

This feature makes Quark rule easier to write and better integration with other tools.

@pulorsok, @haeter525 what do you guys think?

[2022-03-08 08:27] pulorsok commented on #313
Nice suggestion. The Yara rule format will make Quark more widely used.
And it also can be a GSoC idea this year. I will create a label for all the 2022 GSoC ideas.

[2022-03-08 08:39] haeter525 opened #314 "Update the analysis library for Rizin v0.3.0 and above."
**Is your feature request related to a problem? Please describe.**

An API change in Rizin [v0.3.0](https://github.com/rizinorg/rizin/releases/tag/v0.3.0) has led the Rizin-based analysis to fail. Currently, Quark is only compatible with Rizin v0.2.0 or v0.2.1. However, such limitation has brought a bad user experience (#305 ).

**Describe the solution you'd like**

Update the Rizin-based library

[2022-03-08 09:00] 18z commented on #314
This is a must-do issue. I think it's also a good topic for the gsoc 2022.

[2022-03-08 09:18] haeter525 commented on #313
Sounds nice!
Yara format provides more complex conditions to define behaviors. I think it can expand the flexibility of Quark rules.

Hi @PaulNicolasHunter. If you are interested in this idea, please feel free to let me know.​ :smile:

[2022-03-08 10:01] PaulNicolasHunter commented on #313
Sure @haeter525, will love to do it.
Also, I believe adding YARA support is already listed on ideas page for [quark ](https://www.honeynet.org/gsoc/gsoc-2022/google-summer-of-code-2022-project-ideas/#:~:text=Breadth%3A%20Innovate%20based%20on%20the%20current%20technology%20of%20Quark.%20For%20example%2C%20make%20YARA%20Rule%20available%20for%20Quark%2DEngine.%20This%20helps%20to%20make%20Quark%20a

[2022-03-09 01:49] haeter525 commented on #311
Resolved by #312 .

[2022-03-09 01:49] #311 closed

[2022-03-09 07:50] tirekin commented on #299
Hi,

I have the same issue with apk sha256:

The size of the APK is 2.3 MB.

Additionally, removing `00030.json`, `00142.json`, `00130.json` and `00129.json` did not solve the issue. There may be more rules which cause this behavior.

Command: `quark -a 8bfa2948ff8f84b2620c672ccfec8efa28f738d849276f645429c11ec73a998d.apk -s -t 80`

Quark version: `22.2.1`

[2022-03-09 09:01] haeter525 opened #315 "Add description for the restriction of parallel analysis"
**Is your feature request related to a problem? Please describe.**

In #311  , we added a restriction for the parallel analysis to avoid exhausting the memory. This restriction sometimes overwrites the arguments that users assign. However, it is not well-described in the [document](https://quark-engine.readthedocs.io/en/latest/) and [README](https://github.com/quark-engine/quark-engine#readme).

*

[2022-03-09 09:18] haeter525 commented on #315
Hi, @PaulNicolasHunter.

We want to document this restriction to avoid users considering it an error. Would it be possible for you to work on this issue? Thanks.

[2022-03-09 09:52] PaulNicolasHunter commented on #315
Sure @haeter525, I suggest that we make the description of **--multi-process** flag a bit more detailed, what you do think?

[2022-03-09 11:20] haeter525 commented on #315
Sure! We should clearly explain why the restriction exists and how Quark handles numbers beyond the maximum.

[2022-03-09 11:36] chinggg commented on #305
It seems I cannot reproduce this error.

[code]

- latest Rizin (git https://github.com/rizinorg/rizin/commit/a6c1b73ef30c11f88ef1c0e2b938aedc7b521380)
- latest Quark-Engine (git https://github.com/quark-engine/quark-engine/commit/d304c7be181e44cb43e385984de56a9e8b435e69)

[2022-03-22 09:19] #315 closed

[2022-03-23 11:42] haeter525 opened #319 "Update CI for the BladeHawk ruleset release"
The [release](https://github.com/quark-engine/quark-rules/issues/18) of the BladeHawk ruleset introduced more rules into the quark-rule repo. Since [our smoke test](https://github.com/quark-engine/quark-engine/blob/master/.github/workflows/smoke_test.yml) uses this repo for the accuracy checks, this release has made it inaccurate. Thus, we need to adjust it as well.

[2022-03-24 00:19] #319 closed

[2022-03-24 03:19] #314 closed

[2022-03-28 03:35] haeter525 opened #322 "Prepare to release version v22.3.1"
Update the version number in `__init__.py` for releasing the latest version of Quark.

In this version, the following changes will be included.

- #314
- #315
- #311
- #317

[2022-03-28 14:33] #322 closed

[2022-03-30 13:48] 18z opened #324 "Quark script implementation"
Hi @PaulNicolasHunter

@pulorsok , @haeter525 and I discuss the idea of #313 .
And we found out that the idea has high complexity and low practicality.

Therefore, we have a simple, concrete and practical idea for your GSoC 2022 proposal
which is to implement ```Quark Script```.

The idea emerged when we used Quark to actually analyze Android applications.
It is often that we are still confused wh

[2022-03-30 21:17] haeter525 commented on #324
Moreover, implementing Quark Script is not complex work, but it brings more potential to the GSoC proposal.

For example, apply this feature to identify possible malware, which could be a notable contribution to the GSoC event. 💪

[2022-03-31 07:16] PaulNicolasHunter commented on #324
@18z @pulorsok @haeter525 Sounds like an Amazing idea guys! It makes sense to identify behaviour of the rules and their relation, seems like it will make the report more concrete and will also remove any possibilities of false positives.
Looking forward to work on this, how do I get started? 😃

[2022-03-31 08:35] PaulNicolasHunter commented on #324
got it, will work on them

[2022-03-31 08:49] haeter525 commented on #324
@PaulNicolasHunter. Can't wait to see this come true! 😁

Here is my proposal for GSoC 2021. You can follow those questions and finish yours.
https://docs.google.com/document/d/1NPwPk1ZmxdcE12mg4TOafnbWqyGlOr5FD60jy6iUfVs/edit?usp=sharing

[2022-03-31 09:57] PaulNicolasHunter commented on #324
Thanks @haeter525, this helps a lot :)

[2022-03-31 22:51] pulorsok commented on #324
Hi @PaulNicolasHunter,
@haeter525 and I were also the contributor in GSoC 2021, and now we have become mentors.

Here is my proposal for GSoC 2021. I hope this will help you. 😃
https://docs.google.com/document/d/1uc7evx7XQlzhFF3KFvhPeWPi1lJHv0xgNj86xFolNyM/edit?usp=sharing

[2022-04-07 11:30] PaulNicolasHunter commented on #324
thank you @pulorsok.
Guys, I am trying to get an understanding of the source code, to gather the issues in the existing code-flow w.r.t the behavioural analysis so that I can formulate them in the proposal and I have few questions -
1) During level 2 check, what if there are more than two APIs in the Quark Rule? Could there be a case like this? Currently we're only picking up 2 rules as per the co

[2022-04-07 14:46] haeter525 commented on #324
Hi @PaulNicolasHunter
1. Quark will take the first two APIs and ignore the rest. The reason is that we found rules with more than two APIs are not practical in real-world analysis. Thus, in the default ruleset of Quark, there should not be a case like that.

2. You may want to check [the document for the analysis flow](https://quark-engine.readthedocs.io/en/latest/quark_inside_workflow.html). Also

[2022-04-07 17:02] PaulNicolasHunter commented on #324
Understoord @haeter525, Can't really think of such scenerio either way.

This really helps, thanks. will look upto it and add into the proposal if needs any updation.

I get it now, so like we give more control to the Analysts in terms of detecting logic by exposing functions (kind of getter functions).

[2022-04-13 08:59] PaulNicolasHunter commented on #324
hey guys, I hope you doing well
wasn't feeling well health wise that's why been unactive, but I have been working on my proposal. It is almost complate and I wanted to know if there is any font style/size we prefer of the proposal?

[2022-04-13 09:26] PaulNicolasHunter commented on #324
Team, here's my first draft of the prososal ([link](https://docs.google.com/document/d/1MX9YiWBq9jFFwm5ZbwBeFx7wtnlHVU6hHdBu5iKpNhc/edit?usp=sharing)), please note that the time-line is yet to be done, I've figured that out too but wanted to know what are your thoughts regarding the idea.

[2022-04-13 12:06] 18z commented on #324
Hey @PaulNicolasHunter

I'm so sorry to hear that. Are you feeling better?

Thanks to your hard work writing the proposal, we'll take a look and give you the feedback. 😄

[2022-04-13 12:20] PaulNicolasHunter commented on #324
I'm hoping to get better @18z, thanks for asking 😊

great, looking out for your feedback!

[2022-04-14 05:30] PaulNicolasHunter commented on #324
hey everyone, I've updated the timeline as well.

[2022-04-14 10:03] haeter525 commented on #324
How sad to hear that! I'm sorry. Hope you feel much better now.

So thankful for your efforts on this idea! I will check it and give you feedback soon. 💪

[2022-04-14 11:56] PaulNicolasHunter commented on #324
Thanks for your kind words, @haeter525

Looking forward for your valuable feedback

[2022-04-15 04:11] pulorsok commented on #324
Hi @PaulNicolasHunter , sorry to hear that! I hope you’re getting better now.

First, thank you for willing to contribute to Quark.
We are glad to see new contributors join our project.

So I have already read your proposal, nice job with that.
I list a few suggestions below that may help you with the proposal.
1. In the **Proposed Solution**,
you mentioned that you want to implement a heatmap for

[2022-04-15 05:37] PaulNicolasHunter commented on #324
Thanks for kind words @pulosok, I'm doing better now.

The heatmap was just an over the head idea that I had, kindly suggest how much feasible and usable it might be.
I wanted the heatmap to depict on how strongly two behaviours are coupled together, a more dense would mean they are strongly related in terms of functionality and their existence in the malware, and the ligther might mean they don't

[2022-04-15 05:41] haeter525 commented on #324
Hi @PaulNicolasHunter . Nice work! Here are my suggestions.

1. I think it's hard to know what you plan to do with the behavior analysis from the project name. Thus, I think that could be further adjusted to highlight your idea.

2. Since the proposal barely mentions the concept of Quark Script, I suggest you add more descriptions for it, such as answering the following questions.
   1. What is a

[2022-04-15 05:56] PaulNicolasHunter commented on #324
Thanks for kind words @pulosok, I'm doing better now.

The heatmap was just an over the head idea that I had, kindly suggest how much feasible and usable it might be.
I wanted the heatmap to depict on how strongly two behaviours are coupled together, a more dense would mean they are strongly related in terms of functionality and their existence in the malware, and the ligther might mean they don't

[2022-04-15 05:57] PaulNicolasHunter commented on #324
thanks for the suggestions @haeter525 will work on them.

[2022-04-17 07:15] PaulNicolasHunter commented on #324
Hi @pulorsok @haeter525 !
Thanks for your invaluable suggestions, I've incorporated the same in the proposal. Please let me know if anything needs to be changed.

[2022-04-18 03:42] pulorsok commented on #324
Hi @PaulNicolasHunter,
I think your description of the heatmap feature is quite vague (you only give us an image without an explanation).
We don't know what you actually want to do with that feature, so we can't see the benefit of Quark in implementing it.
You should add more detail on that, and I strongly suggest the description should include what, why, and how.

And still, the implementation pl

[2022-04-18 04:51] PaulNicolasHunter commented on #324
Hi @pulorsok got it, wil strip off heatmap from the plan kinda felt vague for me too.
Will work on describing the plan.
Thanks.

[2022-04-18 09:39] PaulNicolasHunter commented on #324
Hi @haeter525 @pulorsok @18z I've updated the proposal, please let me know if any changes needed. :)

[2022-04-18 09:57] haeter525 commented on #324
Hi @PaulNicolasHunter. I saw you introduced the concept of Quark Script in this proposal. Great work! Here are my current suggestions for the latest version of it.

#### In the Limitations,
The idea of the second paragraph shown below is unclear. Please add a proper transition between these paragraphs to make the proposal more readable.

#### In the **Internal Working** of **Quark Scripts**,
The i

[2022-04-18 14:22] PaulNicolasHunter commented on #324
Hi @haeter525, I've made the second point of limitation more understandable.

the Quark rule is already mentioned in the diagram but for understanding I've mentioned it's name in the point itself.

please let me know if there anything specific I need to mention.

This was to see if there is any permance issues in the quark, I've adjusted this date in the latest draft.

[2022-04-19 03:37] pulorsok opened #325 "Add rule generate feature "Radiocontrast""
### Description
Add the "Radiocontrast" feature that allows Quark to generate rules with the native APIs in a specific method.
It helps us quickly understand the behavior of the method.

For example, if we want to know the behavior of a method `startUp(I)V` in a malware sample.
We then use "radiocontrast" to generate rules by giving the method small code `Lcom\malware\Aclass;->startUp(I)V`.
And it

[2022-04-19 04:24] haeter525 commented on #324
Hi @PaulNicolasHunter. Nice work! I think you are ready to upload your proposal.

Please adjust the overall layout. Ensure the font style/size, images, and line/paragraph spacing are appropriate. Then, feel free to submit it. :D

As for the size, we don't think it's a big issue. Instead, we expect you to focus on your goals and do your best! If we find any feature worth diving into, we will spare

[2022-04-19 04:28] PaulNicolasHunter commented on #324
Awesome @haeter525, thanks for the go ahead.
If there any font size/style recommendation do you have? like specific size for headings and content.

[2022-04-19 05:04] haeter525 commented on #324
@PaulNicolasHunter. If GSoC doesn't have specifications for font size/style, you can follow the way @pulorsok managed it for GSoC 2021. He uses a clear and easy-to-read layout in [his proposal](https://docs.google.com/document/d/1uc7evx7XQlzhFF3KFvhPeWPi1lJHv0xgNj86xFolNyM/edit?usp=sharing).

[2022-04-19 06:17] haeter525 opened #327 "Update CI for the SMS message stealing ruleset release"
The [release](https://github.com/quark-engine/quark-rules/issues/20) of the SMS message ruleset introduces new rules to the [quark-rule](https://github.com/quark-engine/quark-rules) repo. Since our smoke test uses this repo for the accuracy checks, now it's inaccurate. Thus, we need to update it as well.

[2022-04-19 06:48] #327 closed

[2022-04-21 23:11] haeter525 opened #330 "Completely support Multidex when analyzing with Rizin"
**Is your feature request related to a problem? Please describe.**

Currently, Quark has its method to support analyzing APKs with [Multidex](https://developer.android.com/studio/build/multidex) . However, this method has two disadvantages -

1. Increase the complexity of the codebase.
2. Unable to find the cross-references between Dex files.

**Describe the solution you'd like**

In version 0.3.0

[2022-04-21 23:14] haeter525 opened #331 "Class names are truncated when analyzing with Rizin"
**Describe the bug**

For now, the Rizin-based analysis library relies on a field called `flagname` (from the Rizin command `isj`) to get the class name of a method. However, this field has a length limitation of its value. Thus,  when any method exceeds that limitation, it may cause Quark to receive a broken class name.

![Truncated_class_name](https://user-images.githubusercontent.com/3461569/16

[2022-04-22 02:39] haeter525 opened #332 "Ensure Quark runs with the compatible Rizin"
**Is your feature request related to a problem? Please describe.**

According to [the policy of release versioning](https://github.com/rizinorg/rizin/discussions/757#discussion-3247581), the current Rizin API (0.x.y) should not be considered stable since it's under initial development.

Thus, we need to ensure Quark uses the compatible Rizin version to perform the analysis.

**Describe the solutio

[2022-04-22 17:14] haeter525 opened #334 "Update analysis library for Rizin v0.4.x"
**Is your feature request related to a problem? Please describe.**
The upcoming release of Rizin v0.4.x has included features for Dex files, such as cross-reference supports and APIs to get the class name of a specified method.

Those features build up the foundation of the analysis library. They help construct a more accurate analysis result with Rizin. Thus, we should update our library to inclu

[2022-04-25 23:14] haeter525 opened #338 "Prepare to release version v22.4.1"
Update the version number in `__init__.py` for releasing the latest version of Quark.

In this version, the following changes will be included.

- #328
- #326
- #329

[2022-04-27 00:43] #338 closed

[2022-05-03 09:12] pulorsok opened #340 "Update CI for the audio recording ruleset release"
The [release](https://github.com/quark-engine/quark-rules/pull/23) of the audio recording ruleset introduces new rules to the [quark-rule](https://github.com/quark-engine/quark-rules) repo.
Since our smoke test uses this repo for the accuracy checks, now it's inaccurate. Thus, we need to update it as well.

[2022-05-03 10:02] #340 closed

[2022-05-16 09:10] haeter525 opened #342 "Update CI for the contact info accessing ruleset release"
The [release](https://github.com/quark-engine/quark-rules/pull/25) of the contact info accessing ruleset introduces **5 new rules** to the [quark-rule](https://github.com/quark-engine/quark-rules) repo. Since the smoke test uses this repo for the accuracy checks, we need to update it as well.

[2022-05-18 03:45] #342 closed

[2022-05-18 05:59] pulorsok opened #344 "Add new feature to generate Quark web report"
Since Quark does not have a GUI report for Quark analysis results,
I suggest we develop a new feature to generate Quark report with HTML for better user experience.

[2022-05-18 09:46] #344 closed

[2022-05-21 12:27] haeter525 opened #346 "Support loading rules recursively from the rule path"
**Is your feature request related to a problem? Please describe.**

In quark-engine/quark-rules#26, we plan to increase the visibility of the README.md by moving all rules into a folder. However, since Quark currently only searches rules right in the given path, this change will make it fail to find the default ruleset.

**Describe the solution you'd like**
I suggest adding the ability to load rul

[2022-05-23 02:59] #346 closed

[2022-05-24 06:35] pulorsok opened #348 "Fix README content"
The README content below needs to update.
The Quark version in the demo image is outdated, and the title doesn't fit the content.

[2022-05-24 10:21] haeter525 opened #350 "Update tests to be able to access the private repositories"
**Is your feature request related to a problem? Please describe.**
Considering the copyright issue, the team decide to change some public repositories into private ones. But, since most tests of Quark still rely on samples from those repositories, we need to give them access permissions.

**Describe the solution you'd like**
Update all the tests to use an SSH key to access the private repositories

[2022-05-25 00:43] pulorsok opened #351 "Update author information"
Since the main author was changed, we should update the author information in setup.py.

[2022-05-25 02:02] #348 closed

[2022-05-25 02:24] haeter525 opened #353 "Prepare to release version v22.5.1"
Update the version number in `__init__.py` for releasing the latest version of Quark.

In this version, the following changes will be included.

- #341
- #343
- #345
- #347
- #348
- #351

[2022-05-25 03:25] #351 closed

[2022-05-25 04:46] #353 closed

[2022-05-31 14:33] pulorsok opened #355 "Integrating quark-rule-generate feature to Quark Engine"
For a better user experience, we should integrate the new strategy of quark-rule-generate [PR#1](https://github.com/pulorsok/quark-rule-generate/pull/1) into Quark Engine.

But manually selecting generated rules is effort consuming and less efficient. So instead, we should develop a visual report for generated results.

[2022-06-01 08:06] #355 closed, assigned to haeter525

[2022-06-07 09:35] haeter525 opened #357 "Update CI for the screen access and gesture simulation ruleset"
The [release](https://github.com/quark-engine/quark-rules/pull/33) of the screen access and gesture simulation ruleset introduces **3 new rules** to the [quark-rule](https://github.com/quark-engine/quark-rules) repo. Since the smoke test uses this repo for the accuracy checks, we need to update it as well.

[2022-06-07 11:02] haeter525 commented on #357
The 3 samples used by CI didn't perform any behavior described in the added ruleset. Therefore, there is no need to update the smoke tests. And I will close the issue.

[2022-06-07 11:02] #357 closed

[2022-06-14 03:37] pulorsok opened #359 "Add API filter into Radiocontrast"
When using Radiocontrast to generate rules,
the API use count of API might be too much.
That slow down the rule generation process and the memory consumption.

So we should add API filter(second rule generation) into radiocontrast.

[2022-06-14 07:35] #359 closed

[2022-06-20 08:29] haeter525 commented on #350
Since the apk-malware-sample repo is public now, I will close this issue.

[2022-06-20 08:29] #350 closed

[2022-06-20 18:09] v0lp3 opened #361 "Exception when getting bytecode using Rizin with some apps"
**Describe the bug**

Using rizin core library:

[code]

[2022-06-22 03:13] haeter525 commented on #361
Hi @v0lp3. Thank you for reporting this issue.

Unfortunately, the Rizin core library is not yet ready for actual analysis. For now, it's still under development and may crash easily. But, we are aware of this issue and currently working with the Rizin team to solve it.

I will keep track of this issue and let you know once it's solved. Thank you for reporting it. :D

[2022-06-29 02:17] pulorsok opened #362 "Prepare to release version v22.6.1"
Update the version number in `__init__.py` for releasing the latest version of Quark.

In this version, the following changes will be included.

- #356
- #360

[2022-06-29 03:15] #362 closed

[2022-06-29 10:44] haeter525 opened #364 "Failed to capture behaviors that are composed of inherited APIs"
**Describe the bug**
The summary report of [this sample](https://bazaar.abuse.ch/download/3f00206aaed4612ce4655152b972aeb2787ca4133aeacc8c9acd8c4d38ea3f79/) shows that the following rule that uses inherited APIs reaches 60%. But after looking into the decompiled Smali, Quark seems to miss some calling sequences in this sample.

![](https://i.imgur.com/dRa21ko.png)

[code]

If we look into the smal

[2022-07-01 09:55] haeter525 opened #365 "Memory bursts occurred on Radiocontrast API"
**Describe the bug**

Memory bursts may occur when using the Radiocontrast API.

For example, when taking [this Dex](https://github.com/quark-engine/quark-engine/files/9027918/flubot_payload.zip) as input and generating rules from the method `Lcom/iqiyi/i18n/p4c4a83bb;->onAccessibilityEvent(Landroid/view/accessibility/AccessibilityEvent;)V`, Quark v22.6.1 requires more than **64 GB of memory** to

[2022-07-04 06:53] haeter525 opened #366 "Update README for the recently released features."
Recently, the team added many features to Quark (Rule Viewer, Web Report, and RadioContrast API). To illustrate the power of these features, we documented them in README with examples. However, it also causes some problems with the file.

1. Outdated information. - For example, the command introduced in the Detail Report section is wrong.
2. Lengthy content. - Users need to scroll eight times to f

[2022-07-05 09:32] haeter525 opened #368 "Specify the Meson version used by CI"
**Is your feature request related to a problem? Please describe.**

[Meson](https://mesonbuild.com/index.html), the build system used by Rizin, recently introduced [a breaking change](https://mesonbuild.com/Release-notes-for-0-63-0.html#compiler-options-can-be-set-per-subproject) in version 0.63.0. This change breaks the build process of Rizin v0.3.x. Therefore, the CI in #367 failed since it depe

[2022-07-05 23:12] #368 closed

[2022-07-06 02:27] #366 closed

[2022-07-27 07:30] haeter525 opened #375 "Prepare to release version v22.7.1"
Update the version number in `__init__.py` for releasing the latest version of Quark.

In this version, the following changes will be included.

+ #366
+ #368
+ #370
+ #371
+ #372
+ #373

[2022-07-27 13:07] #375 closed

[2022-08-31 09:52] haeter525 opened #380 "CLI gives an outdated path to the default ruleset"
**Describe the bug**

Currently, the CLI shows an outdated path to the built-in ruleset.

After running `freshquark`, we have the following output.

![](https://i.imgur.com/z6M9dgH.png)

The last line shows that the path to the built-in rules is `$HOME/.quark-engine/quark-rules/<rule_name>.json`.

However, the path is incorrect since quark-engine/quark-rules#26 had moved all the rules into a new f

[2022-09-26 08:51] 18z opened #385 "Core Member Page Update"
Hey guys,

I think we should update the [core member page](https://quark-engine.readthedocs.io/en/latest/contribution.html#core-members).

Suggested Categories are:

* Core Member
* Alumni
* Consultant

[2022-09-27 08:01] sidra-asa opened #386 "Prepare to release version v22.9.1"
Update the version number in `__init__.py` for releasing the latest version of Quark.

In this version, the following changes will be included.

* #377
* #379
* #374
* #381
* #387

[2022-09-27 12:24] #385 closed

[2022-09-27 12:30] haeter525 commented on #386
@sidra-asa, Thanks for the change list!
By the way, I just merged PR #387 to update the core member page. Could you include it as well?

[2022-09-27 15:04] sidra-asa commented on #386
@haeter525 Sure!

[2022-09-27 16:39] sidra-asa commented on #386
### Function confirmation

- [x] #377
- [ ] #379
- [ ] #374
- [x] #381

### Bug report

* #379

[code]

[2022-09-28 17:37] #386 closed

[2022-09-29 10:25] sidra-asa commented on #83
On macOS 11.6.8 (Big Sur) with python 3.8, 3.9, building and analysis are all fine.
Also, basic testing on macOS environment is included in the [smoke test](https://github.com/quark-engine/quark-engine/blob/master/.github/workflows/smoke_test.yml), so we close this issue.
Nevertheless, any relevant issue is free to create.

[2022-09-29 10:25] #83 closed

[2022-09-30 07:30] haeter525 commented on #380
@sidra-asa
I found [quark/cli.py #L364-L367](https://github.com/quark-engine/quark-engine/blob/bc1deb344e7b4cb7a8804f60bdfea556f620e3c5/quark/cli.py#L364-L367) also printed the outdated path. Could you please address it in the list? Thanks.

![Untitled](https://user-images.githubusercontent.com/3461569/193215169-1c80a12d-c75e-4f38-a432-afa475e7cc47.png)

[2022-09-30 17:08] sidra-asa commented on #380
## Test results after fixing

[quark/cli.py #178](https://github.com/quark-engine/quark-engine/blob/d9a8f7abfe3f919c5f1a5b0f63a0ee8888a30ecd/quark/cli.py#L178)

[code]

[quark/freshquark.py #L73-L75](https://github.com/quark-engine/quark-engine/blob/d9a8f7abfe3f919c5f1a5b0f63a0ee8888a30ecd/quark/freshquark.py#L73-L75)

[code]

[quark/cli.py #L364-L367](https://github.com/quark-engine/quark-engine/

[2022-10-01 19:50] #380 closed

[2022-10-04 12:03] pulorsok opened #390 "Add document for Quark MIT Program"
Since the Quark MIT Program has started,
We should update our documentation for MIT Program.

[2022-10-05 02:22] sidra-asa commented on #364
**Some findings**

Tracing with Crossreferences (xref) of `androguard analyze`，

`Lanubis/bot/myapplication/API/Screenshot/ActivityScreenshot; onCreate (Landroid/os/Bundle;)V` seems using `Lanubis/bot/myapplication/API/Screenshot/ActivityScreenshot; -- getSystemService` and `Landroid/media/projection/MediaProjectionManager; -- createScreenCaptureIntent`

[code]

But `get_xref_from` seems that `get

[2022-10-05 05:31] sidra-asa commented on #390
@pulorsok This issue and PR is for docs about MIT Program.
But it comes with some irrelevant files change.
Could you check if they are appropriate.

e.g.

[docs/build/html/_sources/contribution.rst.txt](https://github.com/quark-engine/quark-engine/pull/391/files#diff-3d06518ed0bf956779f02a5887d71d00823361e173342dd5335583266a338ec8)
[docs/build/html/addRules.html](https://github.com/quark-engine/qu

[2022-10-05 07:07] pulorsok commented on #390
@sidra-asa
Thanks for the review!
I have post the message [here](https://github.com/quark-engine/quark-engine/pull/391#issuecomment-1268034196)
Please have a look.

[2022-10-05 08:07] #390 closed

[2022-10-05 08:09] sidra-asa commented on #390
Thank you @pulorsok for document update.

[2022-10-05 08:19] sidra-asa commented on #364
We think the bug may results from Androguard.
However, the core lib is scheduled to replaced with [Rizin](https://rizin.re/).

For now, we close this issue.
And we will test if there's relevant problem with the new core.

[2022-10-05 08:19] #364 closed

[2022-10-06 15:52] sidra-asa opened #392 "Action workflow enhancement"
**Goals**

* Improve workflow execution time
* Upgrade old version actions

**todo**

* Caching dependencies and build outputs to improve workflow execution time.
* Upgrade CodeQL Action v1 to v2.
* Upgrade checkout@v2 to v3
* Upgrade codeql-action/init@v1 and codeql-action/analyze@v1 to v2
* Upgrade actions/setup-python from v2 to v4
* Use pipenv in tests instead of pip

[2022-10-07 09:38] ciastron opened #393 "Virus Total link in the Sample Information"
# Virus Total link in the sample information web report
In the box of the sample information, it would be great to have close to the hashes, a link that points to Virus Total (for that sample).

## Implementation
Add an extra label close to the hashes that is a link that points to VT total for that specific hash. For example,
`MD5` `db026fe524d1ce98de04374ff374fdf0` [See Virus Total Score](https:/

[2022-10-09 06:17] zinwang commented on #393
Hi @ciastron!
Thank you for proposing this idea!
After discussing with other members, we believe this feature is a must-do one!

However, considering users may prefer other online analyzers, we think a "copy to clipboard" button like the image below may also help.
![Screenshot_from_2022-10-07_21-52-383](https://user-images.githubusercontent.com/32264884/194740479-2f662552-a73d-48ea-899c-a0d7c95395

[2022-10-11 10:21] zinwang commented on #393
@ciastron That's awesome!
Would you like to help implement the feature in the PR?

[2022-10-11 15:10] ciastron commented on #393
Yes, I'm gonna handle it :)

[2022-10-11 20:02] IAMSUPRA09 opened #395 "MOB SERUREB"

[2022-10-14 03:03] sidra-asa commented on #392
There's problem with pipenv in windows environment. So I decide to keep installation with pip in smoke test.

<img width="851" alt="Screen Shot 2022-10-14 at 11 00 18 AM" src="https://user-images.githubusercontent.com/7848936/195752349-06c1bebc-7342-425d-81c9-ea502fc3ccdf.png">

[2022-10-14 17:56] sidra-asa commented on #395
Thanks for your message.
Unfortunately, we don't understand what you mean.
The title seems incomprehensible, and there is no further description. So we will close this issue.

However, please don't hesitate to create a feature request or bug report with detailed information.
We are happy to get any feedback from you.
Thanks again.

[2022-10-14 17:56] #395 closed

[2022-10-18 08:48] zinwang opened #400 "Add detail of the Web Report in the documentation"
Since users may be confused when a new feature is added without any description,
I suggest adding the detail of the Web Report to the docs.
Then, we update it every time the Web Report feature is changed.

[2022-10-19 11:44] zinwang opened #402 "Adding a procedure for finding CWE showcase to the Docs"
Having a procedure for finding a CWE showcase will make the work smoother.

[2022-10-19 12:01] zinwang opened #403 "Add a standard for code refactoring to the docs"
Having a standard for refactoring will help the team refactor codes more efficiently.

[2022-10-24 02:14] zinwang opened #405 "Web Report Improvement"
There are two points in the Web Report that need to be improved.

1. Fix the typo in the description in the Radar Chart section
 "radar chart" is misspelled as "radare chart".
![Screenshot_2022-10-20_20-46-17-crop23](https://user-images.githubusercontent.com/32264884/197434698-3c310178-51df-4c98-b054-960d49605b81.png)

2. Darken the grid lines of the Radar Chart
To look up the chart easier, we nee

[2022-10-24 08:38] 18z opened #406 "Issue template redesign"
Hi

I and @sidra-asa think a redesign of our issue template based on [this](https://wix-ux.com/when-life-gives-you-lemons-write-better-error-messages-46c5223e1a2f)  might be a good idea.

A well-designed issue report template can help the reporter to clarify their problem with our guidance. Also, this benefits the issue solvers who can quickly identify the problem and make progress.

[2022-10-25 10:23] sidra-asa opened #407 "Prepare to release version v22.10.1"
Update the version number in `__init__.py` for the release with the latest version of Quark.
It includes the following changes.

* #389
* #391
* #396
* #399

[2022-10-26 02:40] 18z opened #408 "Document the Quark Script API design principles"
Hi guys

I think we need to document our principles for designing the Quark script API.
This gives both the present and future contributors clear guidance to make the progress.

For example,
1. Make the most of the existing APIs.
    Consider very carefully if we need to design a new API.
2. If a new API is needed, we need to make it really simple.
    Don't put too many actions in one API. This c

[2022-10-26 03:18] 18z opened #409 "Typo Found on Quark web report"
Hi guys

I found a typo on the Quark web report

Select ```labels``` not ```lables``` .

<img width="605" alt="Screen Shot 2022-10-26 at 11 15 49 AM" src="https://user-images.githubusercontent.com/593954/197926369-378fbfcc-f4b1-4fb5-b907-55eba7085c7d.png">

[2022-10-26 11:21] #407 closed

[2022-10-28 09:22] pulorsok opened #411 "Tight coupling of Quark Script API"
## Describe the issue

Hi guys, when I implement the new Quark Script.
I found out that `quark/script/__init__.py` has 3 tight coupling classes, `QuarkResult`, `Behavior`, and  `Method`.

I believe the Quark Script API is supposed to design like LEGO,
which can be used independently but is also compostable.
See the example below.

![](https://i.imgur.com/gDz5BhP.png)

Use Quark analysis to get `Qu

[2022-10-29 18:02] sidra-asa opened #412 "Update package dependencies in setup.py"
There is some discrepancy with package dependencies in the setup.py and the Pipfile.
Since the setup.py is important in packaging and distributing on PyPI, we should fix it.

[2022-10-29 18:16] sidra-asa commented on #409
@18z
 I found there are some possible typos.
Should we fix these also?

<img width="750" alt="Screen Shot 2022-10-30 at 2 10 31 AM" src="https://user-images.githubusercontent.com/7848936/198846714-5e8c165f-6d5c-430b-91e8-e8bf71bd4257.png">

[2022-11-01 07:58] sidra-asa opened #415 "Add guidelines about submitting a PR to the development docs."
**Why**

I notice that the changes in some PRs conflict with previous commits. It may result in content overwriting.
To prevent such tragedy, we should have workflow processes or guidelines about submitting a PR.

**How**

* Add guidelines or workflow processes to development docs, e.g. pull before push

[2022-11-01 09:58] sidra-asa opened #416 "Add docs about integrated tools."
**Why**

Quark Engine has been integrated with some tools, e.g. APKLab,
but no relevant docs exist.

**How**

* Add introduction to README.
* Add instructions to documents.
* Add tool-relevant testing instructions to Development docs.

[2022-11-01 10:04] sidra-asa opened #417 "Add docs about quark version release process"
**Why**

Keep every release processed through the same workflow.

**How**

* Add docs about the quark version release process to Developments docs.

[2022-11-01 18:04] #392 closed

[2022-11-04 01:57] #409 closed

[2022-11-06 18:21] sidra-asa opened #420 "Missing xrefs support for switch statements in Dex while using Rizin as core library"
This issue was created [here](https://github.com/rizinorg/rizin/issues/2794).
As described in the issue, there is a switch statement in Android Apps constructed by packed-switch and sparse-switch opcodes. However, Rizin fails to analyze it.

[2022-11-11 06:03] #405 closed

[2022-11-15 04:05] haeter525 opened #423 "A more focused README"
**Why**

For now, README describes many functions across red and blue team analyses. However, those confuse users about Quark's positioning. Hence, we need to make the README file more focused.

**How**

1. Add the Quark Script quick start to the README.
2. Move all the introduction about Quark reports to the document.

[2022-11-16 04:54] #423 closed

[2022-11-18 07:51] haeter525 opened #425 "Use more informative labels to track the processing state"
**Why**

Currently, for better issue management, the team tracks the processing state of issues by tagging labels accordingly. But, since those labels only provide numbers relating to the processing state, it's not intuitive for people to know the action behind it.

**How**

I suggest adjusting the name of the labels to include both the number and the action to take.

[2022-11-18 09:15] haeter525 opened #426 "Regularly update the highest version of dependencies"
**Why**

In issue #289, we specified the highest version of the dependencies to avoid unexpected dependency updates crashing Quark. However, we don't have a mechanism to update such constraints regularly. It puts Quark in danger of outdated or potentially vulnerable upstreams.

**How**

Develop a mechanism to update the highest version of the dependencies regularly. For example, we can do this whe

[2022-11-21 15:45] wizche opened #427 "Show only matches reachable from main application code"
**Is your feature request related to a problem? Please describe.**
When analysing big applications (with lots of SDKs and libraries) you end-up with hundreds of matches from code that is never actually used on the main application.

**Describe the solution you'd like**
Let's say the application has a package `com.myapp`. I want to be able to tell quark-engine to only show me matches that can be xr

[2022-11-29 02:05] sidra-asa opened #430 "Prepare to release version v22.11.1"
Update the version number in __init__.py for the release with the latest version of Quark.
It includes the following changes.

* #398 (Update version of github action workflow script and use cache)
* #413
* #414
* #422
* #419
* #424
* #428

[2022-11-29 19:59] #430 closed